<component name="ArtifactManager">
  <artifact type="exploded-war" name="Mybatis-Generator-Maven:war exploded">
    <output-path>$PROJECT_DIR$/target/Mybatis-Generator-Maven</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Mybatis-Generator-Maven" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: log4j:log4j:1.2.17" />
          <element id="library" level="project" name="Maven: org.apache.ant:ant:1.7.1" />
          <element id="library" level="project" name="Maven: org.apache.ant:ant-launcher:1.7.1" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.4.1" />
          <element id="library" level="project" name="Maven: com.github.javaparser:javaparser-core:3.2.10" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/Mybatis-Generator-Maven/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="Mybatis-Generator-Maven/web/Web" />
    </root>
  </artifact>
</component>