<component name="ArtifactManager">
  <artifact type="war" name="Mybatis-Generator-Maven:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="Mybatis-Generator-Maven.war">
      <element id="artifact" artifact-name="Mybatis-Generator-Maven:war exploded" />
    </root>
  </artifact>
</component>