#daily-manage {
  width: 1140px;
  margin: 0 auto;
  margin-bottom: 80px;
}
#daily-manage > p {
  border-bottom: 1px solid #ddd;
}
#daily-manage > div {
  margin-top: 30px;
}
#daily-manage > div button {
  padding: 8px 15px;
  color: #fff;
  background: #19BE9D;
  font-size: 14px;
  border: 1px solid #19be9d;
  border-radius: 2px;
}
#daily-manage > section {
  border-bottom: 1px solid #ddd;
  font-size: 13px;
  color: #676767;
  padding: 30px 20px;
  width: 96%;
  margin: 0 auto;
}
#daily-manage > section > div {
  margin-bottom: 50px;
}
#daily-manage > section > div span {
  min-width: 80px;
  text-align: right;
  margin-right: 13px;
}
#daily-manage > section > div .lf input {
  height: 30px;
  width: 115px;
  margin-right: 5px;
}
#daily-manage > section > div .rl input {
  height: 30px;
  width: 320px;
}
#daily-manage > section .class {
  color: #4c4e4f;
  text-align: left;
}
#choose-time {
  width: 1140px;
  margin: 15px auto;
}
#choose-time span {
  margin-right: 16px;
  font-size: 13px;
  color: #676767;
}
#choose-time span.active {
  color: #19be9d;
}
#choose-time input {
  height: 30px;
}
#exercise-statistic > section,
#sleep-statistic > section {
  margin-bottom: 25px;
}
#exercise-statistic .yundongliang,
#sleep-statistic .yundongliang {
  width: 558px;
  height: 500px;
}
#exercise-statistic .yundongliang table,
#sleep-statistic .yundongliang table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  background: #F6F6F6;
  font-size: 12px;
}
#exercise-statistic .yundongliang table td,
#sleep-statistic .yundongliang table td {
  border: 1px solid #ddd;
  width: 50%;
}
#exercise-statistic .yundongliang table td ul,
#sleep-statistic .yundongliang table td ul {
  overflow: hidden;
}
#exercise-statistic .yundongliang table td ul li,
#sleep-statistic .yundongliang table td ul li {
  float: left;
  /*width: 33.33%;*/
  height: 30px;
  line-height: 30px;
  text-align: center;
  /*padding: 0 10px;*/
  width:30%;
}
#exercise-statistic .yundongliang table td ul li:nth-child(2),
#sleep-statistic .yundongliang table td ul li:nth-child(2){
  width:30%;
}
#exercise-statistic .yundongliang table td ul li:nth-child(3),
#sleep-statistic .yundongliang table td ul li:nth-child(3){
  width:30%;
}
#exercise-statistic .yundongliang table td ul li:nth-child(4),
#sleep-statistic .yundongliang table td ul li:nth-child(4){
  width:10%;
}
#exercise-statistic .yundongliang table td ul li span,
#sleep-statistic .yundongliang table td ul li span {
  width: 100%;
}
#exercise-statistic .yundongliang table td ul li i,
#sleep-statistic .yundongliang table td ul li i {
  float: right;
  display: inline-block;
  width: 20px;
  height: 16px;
  position: relative;
  top: 8px;
  left: -3px;
}
#exercise-statistic .yundongliang table td ul li i.pull-u,
#sleep-statistic .yundongliang table td ul li i.pull-u {
  background: url(../images/tendency-u.png) no-repeat center center;
}
#exercise-statistic .yundongliang table td ul li i.pull-d,
#sleep-statistic .yundongliang table td ul li i.pull-d {
  background: url(../images/tendency-d.png) no-repeat center center;
}
#exercise-statistic .yundongliang table td ul li i.pull-m,
#sleep-statistic .yundongliang table td ul li i.pull-m {
  background: url(../images/tendency-m.png) no-repeat center center;
}
#exercise-statistic .yundongsj,
#sleep-statistic .yundongsj,
#exercise-statistic .shuimiansj,
#sleep-statistic .shuimiansj {
  width: 558px;
  height: 500px;
}
#exercise-statistic .yundongsj > div,
#sleep-statistic .yundongsj > div,
#exercise-statistic .shuimiansj > div,
#sleep-statistic .shuimiansj > div {
  margin: 0 auto;
}
#exercise-statistic .yundongsj > footer,
#sleep-statistic .yundongsj > footer,
#exercise-statistic .shuimiansj > footer,
#sleep-statistic .shuimiansj > footer {
  margin-top: 20px;
  padding: 0 100px;
}
#exercise-statistic .yundongsj > footer span,
#sleep-statistic .yundongsj > footer span,
#exercise-statistic .shuimiansj > footer span,
#sleep-statistic .shuimiansj > footer span {
  padding-left: 16px;
  font-size: 12px;
  position: relative;
}
#exercise-statistic .yundongsj > footer span:before,
#sleep-statistic .yundongsj > footer span:before,
#exercise-statistic .shuimiansj > footer span:before,
#sleep-statistic .shuimiansj > footer span:before {
  position: absolute;
  content: '';
  width: 13px;
  height: 13px;
  left: -5px;
  top: 3px;
}
#exercise-statistic .yundongsj > footer span.lf:before,
#sleep-statistic .yundongsj > footer span.lf:before,
#exercise-statistic .shuimiansj > footer span.lf:before,
#sleep-statistic .shuimiansj > footer span.lf:before {
  background: #D4D2D2;
}
#exercise-statistic .yundongsj > footer span.rl:before,
#sleep-statistic .yundongsj > footer span.rl:before,
#exercise-statistic .shuimiansj > footer span.rl:before,
#sleep-statistic .shuimiansj > footer span.rl:before {
  background: #FFAF25;
}
#exercise-statistic .tendency-duration,
#sleep-statistic .tendency-duration,
#exercise-statistic .tendency-asleep,
#sleep-statistic .tendency-asleep,
#exercise-statistic .tendency-sleep,
#sleep-statistic .tendency-sleep {
  width: 100%;
}
#exercise-statistic .tendency-duration span,
#sleep-statistic .tendency-duration span,
#exercise-statistic .tendency-asleep span,
#sleep-statistic .tendency-asleep span,
#exercise-statistic .tendency-sleep span,
#sleep-statistic .tendency-sleep span {
  font-size: 12px;
  color: #999;
  margin: 0 0 10px 15px;
}
#exercise-statistic .lack-exercise,
#sleep-statistic .lack-exercise {
  width: 100%;
}
#exercise-statistic .lack-exercise > div,
#sleep-statistic .lack-exercise > div {
  padding: 0 25px;
  margin-top: 15px;
}
#exercise-statistic .lack-exercise table th,
#sleep-statistic .lack-exercise table th {
  width: 25%;
}
#exercise-statistic .lack-data,
#sleep-statistic .lack-data {
  width: 100%;
  margin-bottom: 50px;
}
#exercise-statistic .lack-data > div,
#sleep-statistic .lack-data > div {
  padding: 0 25px;
  margin-top: 15px;
}
#exercise-statistic .lack-data table th,
#sleep-statistic .lack-data table th {
  width: 33.33%;
}
#sleep-statistic .shuimiansj aside {
  margin: 30px 0;
  width: 50%;
}
#sleep-statistic .shuimiansj aside > footer {
  margin-top: 50px;
  padding: 0 30px;
}
#sleep-statistic .shuimiansj aside > footer span {
  padding-left: 16px;
  font-size: 12px;
  position: relative;
}
#sleep-statistic .shuimiansj aside > footer span:before {
  position: absolute;
  content: '';
  width: 13px;
  height: 13px;
  left: -5px;
  top: 3px;
}
#sleep-statistic .shuimiansj aside > footer span.lf:before {
  background: #D4D2D2;
}
#sleep-statistic .shuimiansj aside > footer span.rl:before {
  background: #19BE9D;
}
#sleep-statistic .shuimiansj aside.rl span.lf:before {
  background: #D4D2D2;
}
#sleep-statistic .shuimiansj aside.rl span.rl:before {
  background: #CF6EEB;
}
#sleep-statistic .lack-exercise table th {
  width: 16.66%;
}
#dailyHealth section {
  margin-bottom: 25px;
}
#dailyHealth #i-1-line > div {
  width: 363px;
}
#dailyHealth #i-1-line > div h3 {
  font-size: 30px;
  font-weight: 500;
  color: #676767;
}
#dailyHealth #i-1-line > div span {
  float: right;
  height: 21px;
  padding-right: 18px;
}
#dailyHealth #i-1-line > div span.duration-up {
  color: #19BE9D;
  background: url(../images/tendency-u.png) no-repeat right center;
}
#dailyHealth #i-1-line > div span.duration-down {
  color: #FC315C;
  background: url(../images/tendency-d.png) no-repeat right center;
}
#dailyHealth #i-1-line > div span.duration-m {
  background: url(../images/tendency-m.png) no-repeat right center;
}
#dailyHealth #i-2-line > div {
  width: 363px;
}
#dailyHealth #i-2-line > div footer {
  padding: 0 50px;
  font-size: 12px;
  margin: 20px 0 10px 0;
}
#dailyHealth #i-2-line > div footer span {
  color: #676767;
  padding-left: 16px;
  position: relative;
}
#dailyHealth #i-2-line > div footer span.lf:before {
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  background: #D4D2D2;
  left: -6px;
  top: 2px;
}
#dailyHealth #i-2-line > div footer span.rl:before {
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  background: #FFAF25;
  left: -6px;
  top: 2px;
}
#dailyHealth #i-2-line > div > div {
  margin-left: 52px;
}
#dailyHealth #i-2-line > div:nth-child(2) span.rl:before {
  background: #19BE9D;
}
#dailyHealth #i-2-line > div:nth-child(3) span.rl:before {
  background: #CD6DE9;
}
