/*鑷畾涔変竴浜涙爣绛句负甯冨眬绌烘牸锛屾崲琛岀瓑銆�*/
tap{/*30px鐨勭┖鏍�*/
	width: 30px;
	display: inline-block;
}
doubleTap{/*60px鐨勭┖鏍�*/
	width: 60px;
	display: inline-block;
}
verTab{
	height: 20px;
	display: block;
	
}
verTab36{
	height:36px;
	display: block;
}
.thisBody{
	background: #FFFFFF !important;
}

.fenbanMain{
	height: 700px;
}
.fenBanLeft{
	position: absolute !important;
	background-color: #FFFFFF !important;
	margin-top:20px;	
	margin-left:20px;	
}
.fenBanLeft>img{
	margin: 13px -26px;
	position: absolute;
}
.mainTable{
	width: 100%;
	height: 90%;
	text-align: center;
/*	border: 1px red solid;*/
	position: relative;
}
.mainTable>div>table{
	border-collapse:collapse;
	width: 94%;
	margin-left:3%;
}
.tableHeader{
	position: relative;
	width: 100%;
	height: 83px;
  /*border: 1px pink solid;*/
}
.buttonCss{
	color:#ffffff;
	background:#1AB394;
	border:none;
	outline: none;
	font-size:16px;
}
.kuanyidian{
	
	height:48px;
	width:120px;
}
	
.dataCss{
	float: right;
	width:96px;
	font-size:16px;
	height:36px;
	margin-right:37px;
	margin-top: 39px;
}
.mainTable>div>table>tbody>tr{
	height: 48px;
	text-align: center;
	border-top: 1px #DADADA solid;
	border-bottom: 1px #DADADA solid;
	font-size:14px;
	color: #565656;
}
.mainTable>div>table>tbody>tr>th{
	font-size:14px;
	color: #565656;
	font-weight: bold;
	background: #F6F6F6;
}
.using,.unDone{
	display: inline-block;
	font-size: 12px;
	color: #ffffff;
	border-radius: 14px;
	background: #1AB394;
	width: 75px;
	height: 24px;
	line-height:26px;
}
.unDone{
	background: orange !important;
}
td>label{
	font-size: 14px;
}
.modify{
	float: left;
	padding-left: 50px;
	
}
.modify,.reset{
	color: #1AB394;
}
.delete{
	color: red;
	float: right;
}
td>label>img{
	margin: -2px 0;
}
.thereIsData{
	display: none;
}
.notice{
	width: 98%;
	height: 300px;
	font-size: 14px;
	color: #565656;
	position: absolute;
	margin-left:23px;
	margin-top:320px;
	background: #F6F6F6;
}
.taskNotice{
	position: relative !important; 
}
.notice>p{
	width: 90%;
	text-align: left;
	margin-left:66px;
}
.fenBan-header{
	border-bottom: 1px #CECECE solid !important;
	height: 86px !important;
}
.chuangjian{
	position: absolute;
	width: 100%;
	height: 100px;
/*	border: 1px red solid;*/
	margin: 105px auto;
}

.grayHeader{
	position:fixed;
	width:100%;
	height:30px;
	background:#F5F5F5;
	top:0px;
	z-index: 99;
}
/* begin  寮瑰嚭妗嗘牱寮�*/

#fullbg,#fullbg1 { 
	background-color:gray; 
	left:0; 
	opacity:0.5; 
	position:fixed; 
	top:0; 
	z-index:11113; 
	filter:alpha(opacity=50); 
	-moz-opacity:0.5; 
	-khtml-opacity:0.5; 
} 
#dialog { 
	background-color:#fff; 
	height:339px; 
	left:50%; 
	margin:-200px 0 0 -200px; 
	position:fixed !important; /* 娴姩瀵硅瘽妗� */ 
	position:absolute; 
	top:50%; 
	width:442px; 
	z-index:11115; 
	border-radius:5px; 
	display:none; 
} 
#dialog p { 
	margin:0 0 12px; 
	height:44px; 
	line-height:44px; 
	background:#CCCCCC; 
} 
#dialog p.close { 
	padding-left:10px; 
} 
#dialog p.close a { 
	text-decoration:none; 
	font-size: 14px;
	color: #565656;
	font-weight: bold;
} 
.edits{
	position: absolute;
	margin: 18px 50px;
}
.edits>label{
	display: inline-block;
	width: 80px;
	/*border: 1px red solid;*/
	text-align: right;
	padding-right: 21px;
}
.edits>input[type="text"]{
	height: 25px;
	width: 200px;
}
.cjDialog{
	float: right;
}
.cjDialog>input[type="button"]{
	font-size: 14px;
	width:60px;
	height: 30px;
	letter-spacing: 2px;
	border-radius: 4px;
	outline: none;
}
.sure{
	color: #FFFFFF;
	background:#1AB394;
	border: 1px #1AB394 solid;
}	
.cancel{
	color: #565656;
	background: #FFFFFF;
	border: 1px #565656 solid;
}
.cancel:hover{
	
}
.cancel:active{
	background:none !important;
}
/*姝ｅ湪鍒嗙彮*/
.jinduTiao{
	width: 270px;
	height: 20px;
	border-radius: 5px;
	border: 1px #dadada solid;
	margin: 15px 0px;
}
.jinduTiao1{
	height: 100%;
	/*width: 20%;*//*杩涘害鏉￠暱搴﹂�氳繃杩欎釜瀹藉害鎺у埗锛�100%涓烘弧*/  /*js鏇存敼杩欎釜jinduTiao1鐨剋idth鍗冲彲*/
	background: #1ab394;
	border-radius: 5px;
}
.fenBanIng{
	width:435px;height:200px;background:#ffffff;border: 1px #ffffff solid;	
}
.fenBanIng>div{
	margin-left: 9%;margin-top:30px;width:83%;
}
.fenBanIng>div>a{
	font-size: 12px;color: #565656;
}
.fenBanIng>div>label{
	margin-left: 284px;
    margin-top: -35px;
    position: absolute;
	font-size: 15px;
	color: #1AB394;
}
.fenBanIng>input[type="button"]{
	float: right;
	margin-right: 8%;
	margin-top: 10%;
	text-align: center;
	height: 30px;
	width: 90px;
	border-radius:4px;
	outline: none;
	border: none;
	background: #1AB394;
	color: #FFFFFF;
}
/*鍒嗙彮澶辫触寮瑰嚭*/
.fenBanFail{
	width:435px;height:200px;background:#ffffff;border: 1px #ffffff solid;	
}
.fenBanFail>div{
	margin-left: 9%;margin-top:55px;width:83%;
}
.fenBanFail>div>a{
	font-size: 12px;color: #565656;
}
/*saaaaaaaaaaaaaaaaaaa*/
body{
	
	height: 1000px;
}
.fenBanFail>input[type="button"]{
	float: right;
	margin-right: 8%;
	margin-top: 10%;
	text-align: center;
	height: 30px;
	width: 90px;
	border-radius:4px;
	outline: none;
	border: none;
	background: #1AB394;
	color: #FFFFFF;
}
/*input{
	letter-spacing: 1px;
}*/
/*input:hover{
	cursor: pointer;
}
*/
.rePaiBan{
	width: 500px;
	height: 200px;
}
/*涓婁紶澶辫触*/
.upLoadFail{
	/*border: 1px red solid;*/
	width: 500px;
	height: 300px;
}
.alertDivHeader{
	width: 100%;
	height: 50px;
	/*border: 1px royalblue solid;*/
	background: #F2F2F2;
	line-height: 40px;
}
.alertDivHeader>label{
	float:left;
	margin-left: 10px;
	font-size: 14px;
	color: #565656;
	font-weight: bold;
}
.alertButtons>input[type="button"]{
	float: right;
	margin-right: 4%;
	margin-top: 10%;
	text-align: center;
	height: 30px;
	width: auto;;
	border-radius:4px;
	outline: none;
	border: none;
	background: #1AB394;
	color: #FFFFFF;
}
.alertDivContent{
	margin: 21px 27px;
	/*border: 1px red solid;*/
}
.alertDivContent>label{
	font-size: 13px;
	color: #565656;
}
.alertReason{
	font-size: 12px;
	color:#999999;
}
.layui-layer{
	width:auto;
}
/*鏁版嵁娴忚*/
.dataView{
	width: 1000px;
	height: 800px;
	position: absolute;
	position: fixed !important;
	left: 21%;
	top: 5%;
	background: #ffffff;
	/*border: 1px red solid;*/
	
}
.alertDivContent>table{
	width: 100%;
}
.alertDivContent>table{
	text-align: center;
	border-collapse:collapse;
}
.alertDivContent>table>tbody>tr{
	border-top: 1px #DADADA solid;
	border-bottom: 1px #DADADA solid;
	font-size:14px;
	color: #565656;
	height: 38px;
}
.alertDivContent>table>tbody>tr>td:hover{
	cursor: pointer;
}
.tishi{
	float:left;
	width:15%;
	height:33px;
	font-size: 12px;
	color: #ffaf25;
}
.dataViewInner{
	/*border: 4px palegoldenrod solid;*/
	width: 100%;
	height: 90%;
	overflow-x: hidden;
	overflow-y: auto;
}
.dataViewButton{
	margin-right: 0%;
	margin-top: -11%;
}
.alertRecord{
	line-height: 40px;
	width: 100px;
	margin-left: 25px;
}
.alertImg>a{
	color: red;
}
.hoverInput{
	width: 100%;
	text-align: center;
}
/* end  寮瑰嚭妗嗘牱寮�*/
.jinDuWithLabel{
	height: 100px;
	width: 360px;
	text-align: center;
	display: inline-block;
	margin: 0;
	padding: 0;
	
}
.jinDuLabel{
	margin-top: 18px;
}
.specialJinDu{
	line-height: 40px;
	text-align: center;
	background-image: url("../image/star/jinDu.png");
	width: 100%;
	height:36px;
	font-size: 20px;
}
.active>div{
	color: #FFFFFF;
	background-color: #1AB394;
}
.active1>div{
	color: #FFFFFF;
	background-color: #FFAF25;
}
.active2>div{
	color: #FFFFFF;
	background-color: #54B9EE;
}
.active>p{
	color: #1AB394;
}
.noActive>div{
	color: gray;
	background-color: #dadada;
}
.noActive.p{
	color: gray;
}

.taskInfo{
	width: 75%;
	height: 50px;
	margin-top: 25px;
}
.taskInfo>label{
	font-size:14px;
	color:#565656;
	padding-right: 68px;
	line-height: 70px;
}
.taskStep{
	margin: 43px auto !important;
}
.taskNotice{
	margin-top: 150px !important;
	height: 400px;
}
.taskNotice>span{
	display: inline-block;
	width: 100%;
	height: 80px;
	/*border: 1px red solid;*/
	text-align: start;
	margin-top: 15px;
}
.step-2{
	margin-bottom: -32px !important;	
}
.step-1>p{
	margin: 25px 43px;
	font-size: 16px;
	color: #565656;
}
.step-1>p>select{
	width:80px;
	height: 25px;
}

/*checkBox鏍峰紡*/
/*margin: 0 0 !important;*/
.checkboxEs>input[type="checkbox"]{
	margin: 0 0 !important;
}
input[type="checkbox"] {
  
  -webkit-appearance: none;
  background: #fff url(../image/star/checkBox.png);
  background-position: -96px 0 !important;
  height: 22px;
  vertical-align: middle;
  width: 22px;
}
/*input[type="checkbox"]:focus,
input[type="checkbox"]:hover {
  background-position: -24px 0 !important;
  outline: none;
}
*/
input[type="checkbox"]:checked {
  background-position: -48px 0 !important;
}

input[type="checkbox"][disabled] {
  background-position: -72px 0 !important;
}

input[type="checkbox"][disabled]:checked {
  background-position: -96px 0 !important;
}
.checkboxEs{
	width: 88.2%;
    float: right;
    margin-top: -45px;

}
.checkboxEs>input[type="checkbox"]{
	
}

.checkboxEs>label,.checkboxEs>a{
	font-size: 14px;
}

.step-1>p>a,.a{
	line-height: 26px;
	margin-left:147px;
	font-size: 14px;
	color: #888888;
}
.a{
	margin-left: 193px !important;
}
.download{
	height: 35px !important;
	
}

.czButtons{
	width: 350px;
	height: 50px;
	margin: 234px auto;
}
.canCz{
	width: 92px;
	height: 34px;
	font-size: 14px;
	color: #1AB394;
	margin-right: 80px;
	background: none;
	border: 1px #1AB394 solid;
	outline: none;
}
.notCz{
	border: 1px #999999 solid !important;
	color: #999999 !important;
	background: none !important;
}
.canCz:active{
	background:none !important;
}
.fenbanStep{
	height: 700px !important;
}
 
.file-box{ 
	position:absolute;
	margin: -53px 192px;
} 
.txt{
	width: 200px;height:35px;
} 

.file{
	filter:alpha(opacity:0);
	opacity: 0;
	border: 1px red solid;
	z-index: 8888;
	position:absolute;
	top:-23px;
	right:0px;
	height:58px;
	width:59px
} 
.scoreSet{
	
	width: 450px;
	height: 410px;
	position: fixed;
	left: 36%;
	top: 15%;
	background: #ffffff;
}
.scoreSetContent{
	height:82%;
	width: 100%;
	/*border: 1px saddlebrown solid;*/
	text-align: center;
}
.scoreSetInner{
	width: 410px;
    height: 248px;
    margin: 0% 4.5%;
    /* border: 1px red solid; */
    background: #F2F2F2;
    text-align: left;
    font-size: 12px;
    color: #565656;
    position: absolute;
}
.scoreInput>input[type="button"]{
	height: 28px;
    font-size: 12px;
    color: #1AB394;
    margin: 14px 16px;
    background: none;
    border: 1px #1AB394 solid;
    outline: none;
    border-radius: 5px;
}
.scoreInput{
	width: 90%;
	/*border: 1px red solid;*/
	margin: 0 auto;
}

.scoreInput>input[type="button"]:hover{
	background: #1AB394 !important;
	color: #fff !important;
}

.scoreSetB{
	margin-top: -10% !important;
}
.scoreSetB>input[type="button"]{
    border-radius: 0px !important;
   
    border: none;
    background: #1AB394;
    color: #FFFFFF;
}
#newBuild{
	width: 90%;
	height: 60%;
	margin: 32px 50px;
}
#newBuild>input[type="text"]{
	width: 200px;
	height: 27px;
}

#autoHf{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
/*	border: 1px red solid;*/
}
#autoHf>ul{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	/*border: 1px red solid;
	*/float: left;
}
#autoHf>ul>li>div{
	display: inline-block;
	line-height: 36px;
	width: 150px;
	text-align: center;
	font-size: 12px;
	color: #333333;
}
.autoHfHeader{
	border-bottom: 1px #DADADA solid;
}
#autoHf>ul>li{
	float: right;
	height: 39px;
	
	width: 90%;
	margin: 0 19px;
}

.autoLeft{
	float: left;
}
.autoRight{
	float: right;
}
.newBuildButtons{
	margin: 52px 10px !important;
}
.step3{
	height: 525px !important;
}
.step3Search{
	width: 100%;
	height: 12%;
	/*border: 1px red solid;*/
}
.step3Table{
	width: 96%;
	height: 88%;
	/*border: 1px royalblue solid;*/
	margin: 0 auto;
}
.step3Search>div{
	height: 100%;
	width: 40%;

}
.step3SearchLeft{
	float: left;
}
.step3SearchRight{
	float: right;
}
.fbPgHeader>input[type="button"]{
	outline: none;
	border: none;
	border-radius:5px;
	color:#FFFFFF;
	height: 30px;
}
a{
	text-decoration: none;
}
.step3SearchLeft>div>a>input[type="button"],.step3SearchRight>div>a>input[type="button"]{
	outline: none;
	border: none;
	border-radius:5px;
	color:#FFFFFF;
	height: 30px;
}
.step3SearchLeft>div>select{
	width: 200px;
	height: 30px;
}
.step3SearchLeft>div{
	margin-top: 18px;
	margin-left: -25px;
}
.step3SearchRight>div{
	margin-top: 18px;
	margin-right: -149px;
}
.step3Header{
	width: 100%;
	height: 40px;
	border-bottom: 1px #DADADA solid;
	overflow: hidden;
	position: relative;
}
.step3Header>ul{
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	/*width: 100%;*/
	overflow: hidden;
	position: absolute;
}
.step3Header>ul>li:hover{
	color: #1AB394;
	border-bottom: 3px #1AB394 solid !important;
}
.step3Header>ul>li{
	float: left;
	/*border: 1px red solid;*/
	height: 93%;
	width: 74px;
	text-align: center;
	line-height: 45px;

}
.step3Table>table{
	width: 100%;
	border-collapse:collapse;
	text-align: center;
	
}
.step3Table>table>tbody>tr{
	border-bottom: 1px #DADADA solid;
}

.step3Table>table>tbody>tr>th{
	font-size: 14px;
    color: #333333;
    height: 55px;
}
.step3Table>table>tbody>tr>td{
	height: 55px;
	font-size: 14px;
    color: #565656;
}
.step3Table>table>tbody>tr>td>input[type="checkbox"]{
	margin: -10px -11px !important;
}
.fenbanS{
	margin: 30px auto !important;
}
.fenbanS>input{
	background: #1ab394 !important;
	color: #FFFFFF !important;
}
#right{
	width: 30px;
    position: absolute;
    right: 22px;
    top: 74px;
}
.fbPgResult{
	position: relative;
	margin-top:50px ;
	
	width: 100%;
	height: 100%;
}
.fbPgHeader{
	width: 100%;
	text-align: center;
	height: 25px;
	
	line-height:0px;
	font-size: 24px;
	color: #565656;
	margin-top: 20px;
}
.pgResultTable{
	text-align: center;
}
.addStudent{
	text-align: center;
	height: 400px;
	background: #F6F6F6;
}
.addStuLeft,.addStuRight{
	height: 100%;
	width: 40%;
	display: inline-block;
	text-align: right;
}
.addStuLeft{
	float: left;
}
.addStuRight{
	float: right;
	margin-right: 160px;
}
.addStudent>div>input,.addStudent>div>select{
	width: 303px;
	height: 36px;
}
.sureButton{
	background: none;
	border: 1px #1AB394 solid;
	outline: none;
	background: #1AB394;
	margin-top: 24px;
	width:110px;
	height: 36px;
	color: #FFFFFF;
	text-align: center;
}
.forCenter{
	width: 100%;
	text-align: center;
}
.pgResultTable>table{
	border-collapse:collapse ;
	margin: 0 auto;
	width: 96%;
	text-align: center;
	font-size: 14px;
}
.pgResultTable>table>tbody>tr>td{
	border: 1px #DADADA solid;
	
}
.pgNormalTr,.sumTr{
	height: 56px;
	color: #565656;
}
.pgResultTableHeader,.sonTd{
	background: #f6f6f6;
	font-size: 14px;
	color: #333333 !important;
	font-weight: bold;
}
.sonTd{
	height: 28px !important;
}

 /**/