*{
	box-sizing:inherit !important;
	-moz-box-sizing:inherit !important;
	-webkit-box-sizing:inherit !important;
}
.rsMenuRight{
	padding-top: 10px;
	width: 60%;
	height: 90%;
	float:right;
}
.rsMenuRight>ul{
	width: 100%;
    height: 51%;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 3%;
}
.rsMenuRight>ul>li{
	width: 100px;
    height: 100%;
    float: right;
    text-align: center;
    border: 1px #ffffff solid;
    line-height: 40px;
    border-radius: 30px;
    font-size: 16px;
    color: #999999;
}
.rsMenuRight>ul>li:hover{
	border: 1px #1AB394 solid !important;
	color: #1AB394;
}
.rsMenuRight li[class="active"]{
	border: 1px #1AB394 solid !important;
	color: #1AB394;
}
.rsTableHeader{
	width: 101%;
	height: 87px;
	position: relative;
}
.rsButton{
	outline: none;
	background: #1AB394;
	border: 1px #1AB394 solid;
	color:#ffffff;
	font-size: 1.16em;
	font-size: 14px;
	font-weight: 400;
	height: 34px;
}
.rsButton:hover{
	background: #1AB394;
	color: #FFFFFF;
}
.rsSelect{
	height: 30px !important;
	width: 140px !important;
	display:inline-block !important;
	
}
.rsTableHeader>div{
	padding-top: 20px;
}
.rsTableHeader input{
	margin-left: 10px;
}
.searchInput{
	height: 32px;
	width: 250px;
	background:url(../image/search1.jpg) center right no-repeat;
	border: 1px #1AB394 solid;
}
.rsTable{
	
}
.rsTable>table{
	width: 100%;
	text-align: center;
	border-collapse:collapse;
	font-size: 14px;
	color: #999999;
}
.rsTable tr{
	border-bottom: 1px #DADADA solid;
	height: 50px;
}
.rsCheck{
	position: relative !important; 
	margin: 0 !important;
}
.treeHeader>ul{
	margin: 0;
	padding: 0;
	list-style: none;
	height: 45px;
	width: 100%;
	
}
.treeHeader>ul>li{
	color: #999999;
	font-size: 16px;
	text-align: center;
	line-height: 50px;
	height: 100%;
	width: 50%;
	float: left;
	border-bottom: 3px #ffffff solid;
}
/*.treeHeader>ul>li:hover{
	color: #1AB394;
	border-bottom: 3px #1AB394 solid;
}*/
.tapActive{
	color: #1AB394 !important;
	border-bottom: 3px #1AB394 solid !important;
}
.bmRightTop{
	width: 100%;
	height: 10%;
	border-bottom: 1px #565656 solid;	
}
.bmRightContent{
	width: 100%;
	height: 90%;
}
.bmRightTop>ul{
	list-style: none;
	padding: 0;
	margin: 0;
	width: 30%;
	height: 100%;
	
}
.bmRightTop li{
	text-align: center;
	float: left;
	width: 50%;
	height: 96%;
	line-height: 90px;
	font-size: 16px;
	color: #565656;
	border-bottom:3px #ffffff solid;
}
.bmRightTop ul li.active{
	color: #1AB394;
	border-bottom:3px #1AB394 solid;
}
.bmDetils{
	border: 1px #999999 solid;
	width: 92%;
	margin: 20px auto;
	height: 180px;
	font-size: 16px;
	color: #999999;
}
.bmDetils a{
	color: #999999;
}
