*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}
body{
    font-family: "Microsoft YaHei";
}
header{
    background:rgba(255,255,255,.7);
    position:fixed;
    top:0px;
    left:0;
    right:0;
}
nav{
    height:83px;
    width:1190px;
    margin:0 auto;
    overflow: hidden;
}
nav .logo{
    float:left;
    color:#2080c4;
    font-size: 28px;
    line-height:83px;
    /*font-weight: bold;*/
}
nav ul{
    float:right;
    list-style: none;
    height:100%;
}
nav ul li{
    float:left;
}
nav ul li a {
    display: inline-block;
    height:83px;
    line-height: 83px;
    width:120px;
    text-decoration: none;
    color:#333;
    font-size: 16px;
    text-align:center;
}
nav ul li a.active{
    border-top:4px solid #2080c4;
    color:#2080c4;
    background:#efefef;
    line-height:75px;
}
section{
    height:980px;
    background: url(../image/bg.png) no-repeat left top;
    background-size: 100% 100%;
    padding-top:80px;
}
section main{
    width:1190px;
    margin:0 auto;
    height:100%;
}
main aside{
    float:left;
    width:340px;
    height:100%;
    border-right:1px solid #2080c4;
    padding-top:50px;
}
main aside>div{
    margin:30px 0;
    text-align: center;
}
main aside>div input[type=text]{
    height:30px;
    /*width:160px;*/
    margin-left:15px;
    border:1px solid transparent;
    padding-left:5px;
    border-radius:5px;
}
main aside>div span{
    color:#333;
    font-size: 16px;
}
main aside>div input[type=button]{
    width:255px;
    height:36px;
    border:1px solid #2080c4;
    background: #2080c4;
    color:#fff;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
}
.bind-information{
    margin-left:340px;
    width:850px;
    padding:60px 50px;
}
.bind-information table{
    border-collapse: collapse;
    width:100%;
}
.bind-information table thead th{
    background:#E8EDF0;
    font-size:14px;
    width:25%;
    color:#333;
    border:1px solid #ddd;
    height:40px;
}
.bind-information table tbody td{
    text-align: center;
    color:#525252;
    font-size:14px;
    height:40px;
    background: #fff;
    border:1px solid #ddd;
}
.bind-information table tbody td:last-child a{
    color:#2080c4;
    display:inline-block;
    padding-left:20px;
    cursor: pointer;
    background: url(../image/edit.png) no-repeat left center;
    text-decoration: none;
}
.bind-information table tbody td:last-child a.delete{
    color:red;
    display:inline-block;
    padding-left:20px;
    cursor: pointer;
    background: url(../image/delete1.png) no-repeat left center;
    text-decoration: none;
}
footer{
    overflow: hidden;
    margin-top:30px;
}
footer .left{
    float:left;
    font-size:12px;
    color:#2080c4;

}
footer .left select{
    background:transparent;
    border: 1px solid #2080c4;
     color:#2080c4;
}
footer .paginationjs{
    float:right;
}











