.dialogForm{
	width: 100%;
	margin-top:20px;
}
.dialogForm>div{
	width: 100%;
	height: auto;
}
.red{
	color: red;
}
.dialogLeft{
	width: 50%;
	height: 100%;
	float: left;
	background: aliceblue;
}
.dialogRight{
	background: aqua;
	width: 50%;
	height: 100%;
	float: right;
}
.dialogForm ul{
	text-align: center;
	margin: 0;
	padding: 0;
	list-style:none;
	height: 100%;
	width: 100%;
	background: aliceblue;;
}
.dialogForm li{
	padding-top: 20px;
	
}
.dialogForm>div>ul>li>label{
	text-align: right;
}
.dialogLeft li{
	text-align: right;
	padding-right: 5%;
}
.dialogForm input,select{
	height: 40px;
	width: 300px;
}
.dialogForm input[type="radio"]{
	height: 17px;
	width: 20px;
}
.hasRadioButton{
    padding-right: 189px;
}
.hasRadioButton span{
	padding-right: 15px;
}
