<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.gukeer.smartRing.persistence.dao.A_StudentExtensionMapper" >

    <resultMap id="ExtensionBaseResultMap" type="cc.gukeer.smartRing.persistence.entity.Student"
               extends="cc.gukeer.smartRing.persistence.dao.StudentMapper.BaseResultMap" >
    </resultMap>

    <select id="selectStudentByMac" resultMap="ExtensionBaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="cc.gukeer.smartRing.persistence.dao.StudentMapper.Base_Column_List" />
        from user_student
        where zslb = #{mac,jdbcType=VARCHAR}
    </select>

    <select id="selectNoBoundRingStudentBySchoolIdAndClassId" resultType="java.util.Map" parameterType="java.lang.String" >
        select student.id student_id,student.xsxm student_name,student.xh xh,
        section.name section_name,
        class.name class_name,class.nj nj,
        ring.mac mac,ring.student_id ring_student_id
        from user_student as student
        left join org_grade_class as class on student.class_id=class.id
        left join org_class_section as section on class.xd=section.id
        left join device_ring as ring on student.id=ring.student_id
        where student.school_id=#{schoolId,jdbcType=VARCHAR} and class.id=#{classId,jdbcType=VARCHAR} and ring.student_id is null;
    </select>


</mapper>
