<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.gukeer.smartRing.persistence.dao.GradeClassMapper" >
  <resultMap id="BaseResultMap" type="cc.gukeer.smartRing.persistence.entity.GradeClass" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="school_id" property="schoolId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="short_name" property="shortName" jdbcType="VARCHAR" />
    <result column="xd" property="xd" jdbcType="VARCHAR" />
    <result column="xz" property="xz" jdbcType="INTEGER" />
    <result column="nj" property="nj" jdbcType="INTEGER" />
    <result column="bh" property="bh" jdbcType="INTEGER" />
    <result column="bjlx" property="bjlx" jdbcType="INTEGER" />
    <result column="xq" property="xq" jdbcType="VARCHAR" />
    <result column="rxnd" property="rxnd" jdbcType="BIGINT" />
    <result column="master_id" property="masterId" jdbcType="INTEGER" />
    <result column="master_name" property="masterName" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="BIGINT" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, school_id, name, short_name, xd, xz, nj, bh, bjlx, xq, rxnd, master_id, master_name, 
    del_flag, remarks, create_by, create_date, update_by, update_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cc.gukeer.smartRing.persistence.entity.GradeClassExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from org_grade_class
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from org_grade_class
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from org_grade_class
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cc.gukeer.smartRing.persistence.entity.GradeClassExample" >
    delete from org_grade_class
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cc.gukeer.smartRing.persistence.entity.GradeClass" >
    insert into org_grade_class (id, school_id, name, 
      short_name, xd, xz, 
      nj, bh, bjlx, xq, 
      rxnd, master_id, master_name, 
      del_flag, remarks, create_by, 
      create_date, update_by, update_date
      )
    values (#{id,jdbcType=VARCHAR}, #{schoolId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{shortName,jdbcType=VARCHAR}, #{xd,jdbcType=VARCHAR}, #{xz,jdbcType=INTEGER}, 
      #{nj,jdbcType=INTEGER}, #{bh,jdbcType=INTEGER}, #{bjlx,jdbcType=INTEGER}, #{xq,jdbcType=VARCHAR}, 
      #{rxnd,jdbcType=BIGINT}, #{masterId,jdbcType=INTEGER}, #{masterName,jdbcType=VARCHAR}, 
      #{delFlag,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=BIGINT}, #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="cc.gukeer.smartRing.persistence.entity.GradeClass" >
    insert into org_grade_class
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="schoolId != null" >
        school_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="shortName != null" >
        short_name,
      </if>
      <if test="xd != null" >
        xd,
      </if>
      <if test="xz != null" >
        xz,
      </if>
      <if test="nj != null" >
        nj,
      </if>
      <if test="bh != null" >
        bh,
      </if>
      <if test="bjlx != null" >
        bjlx,
      </if>
      <if test="xq != null" >
        xq,
      </if>
      <if test="rxnd != null" >
        rxnd,
      </if>
      <if test="masterId != null" >
        master_id,
      </if>
      <if test="masterName != null" >
        master_name,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null" >
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="xd != null" >
        #{xd,jdbcType=VARCHAR},
      </if>
      <if test="xz != null" >
        #{xz,jdbcType=INTEGER},
      </if>
      <if test="nj != null" >
        #{nj,jdbcType=INTEGER},
      </if>
      <if test="bh != null" >
        #{bh,jdbcType=INTEGER},
      </if>
      <if test="bjlx != null" >
        #{bjlx,jdbcType=INTEGER},
      </if>
      <if test="xq != null" >
        #{xq,jdbcType=VARCHAR},
      </if>
      <if test="rxnd != null" >
        #{rxnd,jdbcType=BIGINT},
      </if>
      <if test="masterId != null" >
        #{masterId,jdbcType=INTEGER},
      </if>
      <if test="masterName != null" >
        #{masterName,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update org_grade_class
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolId != null" >
        school_id = #{record.schoolId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.shortName != null" >
        short_name = #{record.shortName,jdbcType=VARCHAR},
      </if>
      <if test="record.xd != null" >
        xd = #{record.xd,jdbcType=VARCHAR},
      </if>
      <if test="record.xz != null" >
        xz = #{record.xz,jdbcType=INTEGER},
      </if>
      <if test="record.nj != null" >
        nj = #{record.nj,jdbcType=INTEGER},
      </if>
      <if test="record.bh != null" >
        bh = #{record.bh,jdbcType=INTEGER},
      </if>
      <if test="record.bjlx != null" >
        bjlx = #{record.bjlx,jdbcType=INTEGER},
      </if>
      <if test="record.xq != null" >
        xq = #{record.xq,jdbcType=VARCHAR},
      </if>
      <if test="record.rxnd != null" >
        rxnd = #{record.rxnd,jdbcType=BIGINT},
      </if>
      <if test="record.masterId != null" >
        master_id = #{record.masterId,jdbcType=INTEGER},
      </if>
      <if test="record.masterName != null" >
        master_name = #{record.masterName,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=INTEGER},
      </if>
      <if test="record.remarks != null" >
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=BIGINT},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update org_grade_class
    set id = #{record.id,jdbcType=VARCHAR},
      school_id = #{record.schoolId,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      short_name = #{record.shortName,jdbcType=VARCHAR},
      xd = #{record.xd,jdbcType=VARCHAR},
      xz = #{record.xz,jdbcType=INTEGER},
      nj = #{record.nj,jdbcType=INTEGER},
      bh = #{record.bh,jdbcType=INTEGER},
      bjlx = #{record.bjlx,jdbcType=INTEGER},
      xq = #{record.xq,jdbcType=VARCHAR},
      rxnd = #{record.rxnd,jdbcType=BIGINT},
      master_id = #{record.masterId,jdbcType=INTEGER},
      master_name = #{record.masterName,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=INTEGER},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=BIGINT},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cc.gukeer.smartRing.persistence.entity.GradeClass" >
    update org_grade_class
    <set >
      <if test="schoolId != null" >
        school_id = #{schoolId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null" >
        short_name = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="xd != null" >
        xd = #{xd,jdbcType=VARCHAR},
      </if>
      <if test="xz != null" >
        xz = #{xz,jdbcType=INTEGER},
      </if>
      <if test="nj != null" >
        nj = #{nj,jdbcType=INTEGER},
      </if>
      <if test="bh != null" >
        bh = #{bh,jdbcType=INTEGER},
      </if>
      <if test="bjlx != null" >
        bjlx = #{bjlx,jdbcType=INTEGER},
      </if>
      <if test="xq != null" >
        xq = #{xq,jdbcType=VARCHAR},
      </if>
      <if test="rxnd != null" >
        rxnd = #{rxnd,jdbcType=BIGINT},
      </if>
      <if test="masterId != null" >
        master_id = #{masterId,jdbcType=INTEGER},
      </if>
      <if test="masterName != null" >
        master_name = #{masterName,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cc.gukeer.smartRing.persistence.entity.GradeClass" >
    update org_grade_class
    set school_id = #{schoolId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      short_name = #{shortName,jdbcType=VARCHAR},
      xd = #{xd,jdbcType=VARCHAR},
      xz = #{xz,jdbcType=INTEGER},
      nj = #{nj,jdbcType=INTEGER},
      bh = #{bh,jdbcType=INTEGER},
      bjlx = #{bjlx,jdbcType=INTEGER},
      xq = #{xq,jdbcType=VARCHAR},
      rxnd = #{rxnd,jdbcType=BIGINT},
      master_id = #{masterId,jdbcType=INTEGER},
      master_name = #{masterName,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>