<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.gukeer.smartRing.persistence.dao.HealthyStandardMapper" >
  <resultMap id="BaseResultMap" type="cc.gukeer.smartRing.persistence.entity.HealthyStandard" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="school_id" property="schoolId" jdbcType="VARCHAR" />
    <result column="xd" property="xd" jdbcType="VARCHAR" />
    <result column="nj" property="nj" jdbcType="INTEGER" />
    <result column="sport_standard" property="sportStandard" jdbcType="INTEGER" />
    <result column="sleep_standard" property="sleepStandard" jdbcType="INTEGER" />
    <result column="asleep_standard" property="asleepStandard" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="BIGINT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="BIGINT" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, school_id, xd, nj, sport_standard, sleep_standard, asleep_standard, create_date, 
    create_by, update_date, update_by, del_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cc.gukeer.smartRing.persistence.entity.HealthyStandardExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from healthy_standard
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from healthy_standard
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from healthy_standard
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cc.gukeer.smartRing.persistence.entity.HealthyStandardExample" >
    delete from healthy_standard
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cc.gukeer.smartRing.persistence.entity.HealthyStandard" >
    insert into healthy_standard (id, school_id, xd, 
      nj, sport_standard, sleep_standard, 
      asleep_standard, create_date, create_by, 
      update_date, update_by, del_flag
      )
    values (#{id,jdbcType=VARCHAR}, #{schoolId,jdbcType=VARCHAR}, #{xd,jdbcType=VARCHAR}, 
      #{nj,jdbcType=INTEGER}, #{sportStandard,jdbcType=INTEGER}, #{sleepStandard,jdbcType=INTEGER}, 
      #{asleepStandard,jdbcType=INTEGER}, #{createDate,jdbcType=BIGINT}, #{createBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=BIGINT}, #{updateBy,jdbcType=VARCHAR}, #{delFlag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cc.gukeer.smartRing.persistence.entity.HealthyStandard" >
    insert into healthy_standard
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="schoolId != null" >
        school_id,
      </if>
      <if test="xd != null" >
        xd,
      </if>
      <if test="nj != null" >
        nj,
      </if>
      <if test="sportStandard != null" >
        sport_standard,
      </if>
      <if test="sleepStandard != null" >
        sleep_standard,
      </if>
      <if test="asleepStandard != null" >
        asleep_standard,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=VARCHAR},
      </if>
      <if test="xd != null" >
        #{xd,jdbcType=VARCHAR},
      </if>
      <if test="nj != null" >
        #{nj,jdbcType=INTEGER},
      </if>
      <if test="sportStandard != null" >
        #{sportStandard,jdbcType=INTEGER},
      </if>
      <if test="sleepStandard != null" >
        #{sleepStandard,jdbcType=INTEGER},
      </if>
      <if test="asleepStandard != null" >
        #{asleepStandard,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=BIGINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update healthy_standard
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolId != null" >
        school_id = #{record.schoolId,jdbcType=VARCHAR},
      </if>
      <if test="record.xd != null" >
        xd = #{record.xd,jdbcType=VARCHAR},
      </if>
      <if test="record.nj != null" >
        nj = #{record.nj,jdbcType=INTEGER},
      </if>
      <if test="record.sportStandard != null" >
        sport_standard = #{record.sportStandard,jdbcType=INTEGER},
      </if>
      <if test="record.sleepStandard != null" >
        sleep_standard = #{record.sleepStandard,jdbcType=INTEGER},
      </if>
      <if test="record.asleepStandard != null" >
        asleep_standard = #{record.asleepStandard,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=BIGINT},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=BIGINT},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update healthy_standard
    set id = #{record.id,jdbcType=VARCHAR},
      school_id = #{record.schoolId,jdbcType=VARCHAR},
      xd = #{record.xd,jdbcType=VARCHAR},
      nj = #{record.nj,jdbcType=INTEGER},
      sport_standard = #{record.sportStandard,jdbcType=INTEGER},
      sleep_standard = #{record.sleepStandard,jdbcType=INTEGER},
      asleep_standard = #{record.asleepStandard,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=BIGINT},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=BIGINT},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cc.gukeer.smartRing.persistence.entity.HealthyStandard" >
    update healthy_standard
    <set >
      <if test="schoolId != null" >
        school_id = #{schoolId,jdbcType=VARCHAR},
      </if>
      <if test="xd != null" >
        xd = #{xd,jdbcType=VARCHAR},
      </if>
      <if test="nj != null" >
        nj = #{nj,jdbcType=INTEGER},
      </if>
      <if test="sportStandard != null" >
        sport_standard = #{sportStandard,jdbcType=INTEGER},
      </if>
      <if test="sleepStandard != null" >
        sleep_standard = #{sleepStandard,jdbcType=INTEGER},
      </if>
      <if test="asleepStandard != null" >
        asleep_standard = #{asleepStandard,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=BIGINT},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cc.gukeer.smartRing.persistence.entity.HealthyStandard" >
    update healthy_standard
    set school_id = #{schoolId,jdbcType=VARCHAR},
      xd = #{xd,jdbcType=VARCHAR},
      nj = #{nj,jdbcType=INTEGER},
      sport_standard = #{sportStandard,jdbcType=INTEGER},
      sleep_standard = #{sleepStandard,jdbcType=INTEGER},
      asleep_standard = #{asleepStandard,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=BIGINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>