nav {
  background: #fff;
}
nav > .container {
  padding: 15px;
}
nav > .container div {
  font-size: 20px;
  color: #333;
  padding-left: 41px;
  position: relative;
}
nav > .container div:before {
  content: '';
  display: block;
  width: 36px;
  height: 36px;
  position: absolute;
  left: -7px;
  top: -4px;
  background: url(../images/address-icon-1.png) no-repeat center center;
}
main.container {
  margin-top: 20px;
  border-top: 3px solid #54AB37;
  padding-top: 15px;
}
main.container aside {
  border-right: 1px solid #ddd;
}
main.container aside .tree-menu {
  background: #fff;
  min-height: 750px;
  padding-top: 55px;
  padding-left: 20px;
}
main.container main.col-xs-9 > div.search-box {
  overflow: hidden;
  padding-top: 10px;
}
main.container main.col-xs-9 > div.search-box > input {
  float: right;
  height: 30px;
  width: 30%;
  border: 1px solid #ddd;
  border-right: none;
  padding-left: 5px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
main.container main.col-xs-9 > div.search-box > button {
  float: right;
  border: 1px solid #54AB37;
  background: #54AB37;
  height: 30px;
  width: 35px;
  position: relative;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
main.container main.col-xs-9 > div.search-box > button:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 8px;
  left: 10px;
  background: url(../images/icon-2.png) no-repeat -1px -65px;
}
main.container main.col-xs-9 > ul.row {
  margin-top: 30px;
  height: 80%;
}
main.container main.col-xs-9 > ul.row li {
  margin-bottom: 20px;
}
main.container main.col-xs-9 > ul.row li .user-content .user-name {
  background: #E0ECDC;
  height: 60px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  position: relative;
}
main.container main.col-xs-9 > ul.row li .user-content .user-name h4 {
  font-size: 20px;
  color: #333;
  font-weight: bold;
  text-align: center;
}
main.container main.col-xs-9 > ul.row li .user-content .user-name h4 span {
  color: #666;
  font-size: 14px;
  font-weight: normal;
  margin-left: 5px;
}
main.container main.col-xs-9 > ul.row li .user-content .user-name h4 img {
  display: inline-block;
  margin-top: 23px;
  margin-right: 6px;
}
main.container main.col-xs-9 > ul.row li .user-content .user-msg {
  background: #fff;
  padding: 15px 15px;
  padding-top: 40px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
main.container main.col-xs-9 > ul.row li .user-content .user-msg p {
  width: 80%;
  margin: 0 auto;
  height: 40px;
  line-height: 17px;
  color: #666;
  font-size: 14px;
}
main.container main.col-xs-9 .fenye {
  overflow: hidden;
}
main.container main.col-xs-9 .fenye .fenY {
  margin: 10px 0 50px 0;
  float: right;
}
