@charset "utf-8";

* {
	margin:0;
	padding:0;
	list-style-type:none;
}
a, img {
	border:0;
}
body {
	font:12px/180% Arial, Helvetica, sans-serif, "宋体";
}
/* zoombox */
.zoombox {
	width:686px;
	margin:20px auto 0 auto;
}
.zoompic {
	border:solid 1px #dfdfdf;
	/*width:684px;*/
	height:394px;
    width:100%;
	background:url(../images/loading.gif) no-repeat 50% 50%;
}
.zoompic img{
    width:100%;
}
.sliderbox {
	height:76px;
    width:100%;
	overflow:hidden;
	margin:6px 0 0 0;
}
.sliderbox .arrow-btn {
	width:38px;
	height:76px;
	background:url(../images/arrow-btn.png) no-repeat;
	cursor:pointer;
}
.sliderbox #btn-left {
	float:left;
	background-position:0 0;
}
.sliderbox #btn-left.dasabled {
	background-position:0 -76px;
}
.sliderbox #btn-right {
	float:right;
	background-position:-38px 0;
}
.sliderbox #btn-right.dasabled {
	background-position:-38px -76px;
}
.sliderbox .slider {
	float:left;
	height:76px;
	width:605px;
	position:relative;
	overflow:hidden;
	margin:0 0 0 3px;
	display:inline;
}
.sliderbox .slider ul {
	position:absolute;
	left:0;
	width:999em;
}
.sliderbox .slider li {
	float:left;
	width:121px;
	height:76px;
	text-align:center;
}
.sliderbox .slider li img {
	border:solid 1px #dfdfdf;
}
.sliderbox .slider li.current img {
	border:solid 1px #54AB37;
}
