body {
  background: #f2f2f2 !important;
}
.container {
  background: #fff;
  padding: 0;
}
.row {
  padding: 0 !important;
}
#news-top {
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
}
#news-top p {
  margin: 0;
  font-size: 16px;
  color: #333;
}
#news-aside {
  padding: 0;
  border-right: 1px solid #ddd;
  height: 650px;
}
#news-aside ul li {
  height: 50px;
  padding-left: 20px;
  cursor: pointer;
}
#news-aside ul li a {
  text-decoration: none;
  float: left;
  margin-left: 36px;
  font-size: 14px;
  color: #666;
  position: relative;
  line-height: 50px;
}
#news-aside ul li:first-child a:before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: 16px;
  background: url(../images/icon-news.png) no-repeat -26px -3px;
}
#news-aside ul li:last-child a:before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: 13px;
  background: url(../images/icon-news.png) no-repeat 0px 0px;
}
#news-aside ul li i {
  float: right;
  font-style: normal;
  width: 16px;
  height: 16px;
  color: #fff;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  background: #FF5269;
  line-height: 14px;
  margin-top: 17px;
  margin-right: 15px;
}
#news-aside ul li.active {
  background: #E0ECDC;
}
#news-aside ul li.active a {
  color: #364132;
}
#inform-notice {
  padding: 0;
  height: 650px;
  position: relative;
}
.news-center-inform-notice > ul {
  margin: 0;
  margin-top: 30px;
  height: 80%;
  padding: 0 25px;
}
.news-center-inform-notice > ul li {
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.news-center-inform-notice > ul li p {
  float: left;
  font-size: 13px;
  margin: 0;
}
.news-center-inform-notice > ul li p.not-read {
  color: #525252;
}
.news-center-inform-notice > ul li p.read {
  color: #999;
}
.news-center-inform-notice > ul li > div {
  float: right;
  font-size: 13px;
  color: #999;
}
.news-center-inform-notice > ul li > div span:first-child {
  position: relative;
  margin-right: 5px;
}
.news-center-inform-notice > ul li > div span:first-child:before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background: url(../images/clock.png) no-repeat center center;
  position: absolute;
  left: -22px;
  top: 3px;
}
.news-center-inform-notice .fenye {
  position: absolute;
  bottom: 70px;
  right: 25px;
}
