table td{word-wrap: break-word;word-break:break-all;line-height: 21px;}
nav {
  background: #fff;
}
nav > .container {
  padding: 15px;
  padding-right: 0;
}
nav > .container div.notice-title {
  float: left;
  font-size: 20px;
  color: #333;
  padding-left: 41px;
  position: relative;
}
nav > .container div.notice-title:before {
  content: '';
  display: block;
  width: 36px;
  height: 36px;
  position: absolute;
  left: -7px;
  top: -4px;
  background: url(../images/app1.png) no-repeat center center;
  background-size: 100% 100%;
}
nav > .container .notice-menu {
  float: right;
}
nav > .container .notice-menu ul {
  overflow: hidden;
  margin: 0;
}
nav > .container .notice-menu ul li {
  cursor: pointer;
  float: left;
  margin-left: 45px;
}
nav > .container .notice-menu ul li a {
  text-decoration: none;
  color: #525252;
  font-size: 15px;
  line-height: 28px;
}
nav > .container .notice-menu ul li a.active {
  color: #54AB37;
}
main.container {
  margin-top: 20px;
  margin-bottom:80px;
  border-top: 3px solid #54AB37;
}
main.container #inform-notice aside {
  min-height:750px;
  border-right: 1px solid #ddd;
  padding: 20px 0 0px 0;

}
main.container #inform-notice aside . {
  background: #fff;
  min-height: 750px;
}
main.container #inform-notice aside . .widget-main {
  padding-left: 0;
}
main.container #inform-notice main.col-xs-9 {
  padding:30px 0px 0 30px;
}
main.container #inform-notice main.col-xs-9 > div.search-box {
  overflow: hidden;
}
main.container #inform-notice main.col-xs-9 > div.search-box > button.notice-publish {
  width: 58px;
  height: 30px;
  border: 1px solid #54AB37;
  background: #54AB37;
  color: #fff;
  border-radius: 2px;
}
main.container #inform-notice main.col-xs-9 > div.search-box > input {
  float: right;
  height: 30px;
  width: 30%;
  border: 1px solid #ddd;
  border-right: none;
  padding-left: 5px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  outline: none;
}
main.container #inform-notice main.col-xs-9 > div.search-box > button.notice-search {
  float: right;
  border: 1px solid #54AB37;
  background: #54AB37;
  height: 30px;
  width: 35px;
  position: relative;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
main.container #inform-notice main.col-xs-9 > div.search-box > button.notice-search:before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 8px;
  left: 10px;
  background: url(../images/icon-2.png) no-repeat -1px -65px;
}
main.container #inform-notice main.col-xs-9 > div.search-box > input {
  width: 152px;
  outline: none;
}
main.container #inform-notice main.col-xs-9 > ul {
  margin: 0;
  margin-top: 30px;
  height: 80%;
}
main.container #inform-notice main.col-xs-9 > ul li {
  cursor: pointer;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
main.container #inform-notice main.col-xs-9 > ul li p {
  float: left;
  font-size: 13px;
  margin: 0;
}
main.container #inform-notice main.col-xs-9 > ul li p.not-read {
  color: #525252;
}
main.container #inform-notice main.col-xs-9 > ul li p.read {
  color: #999;
}
main.container #inform-notice main.col-xs-9 > ul li > div {
  float: right;
  font-size: 13px;
  color: #999;
}
main.container #inform-notice main.col-xs-9 > ul li > div span:first-child {
  position: relative;
  margin-right: 10px;
}
main.container #inform-notice main.col-xs-9 > ul li > div span:first-child:before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background: url(../images/clock.png) no-repeat center center;
  position: absolute;
  left: -22px;
  top: 3px;
}
main.container #inform-notice main.col-xs-9 .fenye {
  overflow: hidden;
}
main.container #inform-notice main.col-xs-9 .fenye .fenY {
  margin: 30px 0 50px 0;
  float: right;
}
#column-manage-menu{
  display: none;
}
main.container #column-manage aside {
  border-right: 1px solid #ddd;
  padding: 0;
  padding-top:20px;
}
main.container #column-manage aside .tree-menu {
  background: #fff;
  min-height: 750px;
  padding-top: 35px;
  padding-left: 20px;
}
main.container #column-manage aside .tree-menu .widget-main {
  padding-left: 0;
}
main.container #column-manage main {
  padding: 30px 0 0 30px;
}
main.container #column-manage main > ul {
  border-bottom: 1px solid #ddd;
  height: 45px;
  margin: 0;
}
main.container #column-manage main > ul li {
  float: left;
}
main.container #column-manage main > ul li a {
  display: inline-block;
  width: 135px;
  height: 45px;
  line-height: 44px;
  font-size: 15px;
  color: #777;
  text-align: center;
  text-decoration: none;
}
main.container #column-manage main > ul li a.active {
  color: #525252;
  border: 1px solid #ddd;
  border-bottom: none;
  background: #fff;
}
main.container #column-manage main > #column-msg > .column-manage-operation {
  margin-top: 20px;
}
main.container #column-manage main > #column-msg > .column-manage-operation button {
  width: 64px;
  height: 30px;
  color: #fff;
  border-radius: 2px;
  margin-right: 12px;
}
main.container #column-manage main > #column-msg > .column-manage-operation .publish {
  border: 1px solid #54AB37;
  background: #54AB37;
}
main.container #column-manage main > #column-msg > .column-manage-operation .delete {
  border: 1px solid #f00;
  background: #f00;
}
main.container #column-manage main > #column-msg table {
  width: 100%;
  font-size: 13px;
  margin-top: 20px;
}
main.container #column-manage main > #column-msg table th,
main.container #column-manage main > #column-msg table td {
  padding: 5px 6px 5px 6px;
  border: 1px solid #ddd;
}
main.container #column-manage main > #column-msg table th:first-child,
main.container #column-manage main > #column-msg table td:first-child,
main.container #column-manage main > #column-msg table th:nth-child(2),
main.container #column-manage main > #column-msg table td:nth-child(2) {
  text-align: center;
}
main.container #column-manage main > #column-msg table thead {
  background: #E7EAEC;
  color: #333;
}
main.container #column-manage main > #column-msg table thead th {
  height: 45px;
}
main.container #column-manage main > #column-msg table tbody {
  font-size: 12px;
  color: #525252;
}
main.container #column-manage main > #column-msg table tbody td {
  height:39px;
  min-height: 39px;
}
main.container #column-manage main > #column-msg table tbody td:last-child span {
  padding-left: 20px;
  cursor: pointer;
  color: #54AB37;
  background: url(../images/icon-edit.png) no-repeat left 4px;
}
main.container #column-manage main > #column-msg .fenye {
  overflow: hidden;
}
main.container #column-manage main > #column-msg .fenye .fenY1 {
  margin: 30px 0 50px 0;
  float: right;
}
main.container #column-manage main > #column-manage-menu {
  margin-top: 20px;
}
main.container #column-manage main > #column-manage-menu .column-manage-operation button {
  width: 64px;
  height: 30px;
  color: #fff;
  border-radius: 2px;
}
main.container #column-manage main > #column-manage-menu .column-manage-operation .column-manage-edit {
  border: 1px solid #54AB37;
  background: #54AB37;
  margin-right: 12px;
}
main.container #column-manage main > #column-manage-menu .column-manage-operation .column-manage-delete {
  border: 1px solid #f00;
  background: #f00;
}
main.container #column-manage main > #column-manage-menu table {
  margin-top: 20px;
}
main.container #column-manage main > #column-manage-menu table tbody tr {
  font-size: 14px;
}
main.container #column-manage main > #column-manage-menu table tbody tr td:first-child {
  color: #666;
}
main.container #column-manage main > #column-manage-menu table tbody td {
  border: 1px solid #ddd;
  color: #333;
  padding: 5px 20px 5px 20px;
  height: 39px;
}
main.container #column-manage main > #column-manage-menu table tbody td:last-child {
  width: 200px;
}
/*main.container #rolls-distribute {
  display: none;
}*/
main.container #rolls-distribute aside {
  padding: 0;
  padding-top:20px;
  border-right: 1px solid #ddd;
}
main.container #rolls-distribute aside .tree-menu {
  background: #fff;
  min-height: 750px;
  padding-top: 35px;
  padding-left: 20px;
}
main.container #rolls-distribute aside .tree-menu .widget-main {
  padding-left: 0;
}
main.container #rolls-distribute main {
  padding:30px 0 0 30px;
}
main.container #rolls-distribute main > .rolls-distribute-add button {
  width: 84px;
  height: 30px;
  color: #fff;
  border-radius: 2px;
  margin-right: 12px;
  border: 1px solid #54AB37;
  background: #54AB37;
}
main.container #rolls-distribute main table {
  width: 100%;
  font-size: 13px;
  margin-top: 20px;
}
main.container #rolls-distribute main table th,
main.container #rolls-distribute main table td {
  padding: 5px 6px 5px 6px;
  border: 1px solid #ddd;
}
main.container #rolls-distribute main table th:first-child,
main.container #rolls-distribute main table td:first-child,
main.container #rolls-distribute main table th:nth-child(2),
main.container #rolls-distribute main table td:nth-child(2) {
  text-align: center;
}
main.container #rolls-distribute main table thead {
  background: #E7EAEC;
  color: #333;
}
main.container #rolls-distribute main table thead th {
  height: 45px;
}
main.container #rolls-distribute main table tbody {
  font-size: 12px;
  color: #525252;
}
main.container #rolls-distribute main table tbody td {
  height: 39px;
}
main.container #rolls-distribute main table tbody td:last-child span {
  padding-left: 20px;
  color: #fc4c71;
  cursor: pointer;
  background: url(../images/icon-delete.png) no-repeat left 3px;
}
main.container #rolls-distribute main .fenye {
  overflow: hidden;
}
main.container #rolls-distribute main .fenye .fenY2 {
  margin: 30px 0 50px 0;
  float: right;
}
