* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Microsoft YaHei", Arial, STXihei, '华文细黑', 'Microsoft YaHei', SimSun, '宋体', Heiti, '黑体', sans-serif !important;
  font-size: 14px;
}
.activity-center {
  margin-top: 30px;
  padding-left:25px;
}
.activity-title {
  overflow: hidden;
}
.activity-title aside {
  float: left;
  margin-right: 15px;
}
.activity-title aside img {
  margin: 0 auto;
  width: 100%;
}
.activity-title > div {
  padding: 0;
  float: left;
}
.activity-title > div h3 {
  font-size: 2.3rem;
  font-weight: bold;
  margin: 5px 0 15px 0;
}
.activity-title > div div {
  font-size: 1.5rem;
  color: #666;
  line-height: 25px;
}
.activity-title > div div span {
  margin-right: 20px;
}
.activity-intro {
  margin-top: 45px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd;
}
.activity-intro h3 {
  font-size: 1.8rem;
  color: #333;
  font-weight: bold;
}
.activity-intro p {
  line-height: 2.5rem;
  text-indent: 2em;
}
.activity-intro {
  margin-top: 45px;
}
.activity-intro h3 {
  font-size: 1.8rem;
  color: #333;
  font-weight: bold;
}
.activity-intro .scrollPic {
  margin-top: 30px;
}
.activity-footer {
  margin: 30px 0 30px 10px;
}
.activity-footer span {
  font-size: 1.7rem;
  color: #999;
  font-weight: bold;
}
