<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!-- 配置文件路径 -->
    <properties resource="db.properties"/>

    <!-- 数据库驱动包路径 -->
    <classPathEntry location="${drive.class.path}"/>

    <context id="MySQLTables" targetRuntime="MyBatis3">
        <!-- 抑制警告 -->
        <property name="suppressTypeWarnings" value="true" />

        <!-- generate entity时，生成hashcode和equals方法 -->
        <plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin" />
        <!-- generate entity时，生成serialVersionUID -->
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin" />
        <!-- 这个插件只会增加字符串字段映射到一个JDBC字符的方法 -->
        <plugin type="org.mybatis.generator.plugins.CaseInsensitiveLikePlugin" />
        <!-- genenat entity时,生成toString -->
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin" />

        <!-- 抑制生成代码的注释 -->
        <commentGenerator>
            <property name="suppressAllComments" value="true" />
        </commentGenerator>


        <!-- 数据库连接信息 -->
        <jdbcConnection driverClass="${jdbc.driver}" connectionURL="${jdbc.url}" userId="${jdbc.username}"
                        password="${jdbc.password}">
        </jdbcConnection>

        <!-- 生成的model 包路径 -->
        <javaModelGenerator targetPackage="${model.package}" targetProject="${target.project}">
            <property name="enableSubPackages" value="ture"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!-- 生成xml mapper文件 路径 -->
        <sqlMapGenerator targetPackage="${xml.mapper.package}" targetProject="${target.project}">
            <property name="enableSubPackages" value="ture"/>
        </sqlMapGenerator>

        <!-- 生成的Dao接口 的包路径 -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="${dao.package}" targetProject="${target.project}">
            <property name="enableSubPackages" value="ture"/>
        </javaClientGenerator>

       <!-- &lt;!&ndash; entity mapping relation &ndash;&gt;
        &lt;!&ndash; 用户表[sys_user 用户] &ndash;&gt;
        <table schema="gk_platform" tableName="sys_user" domainObjectName="User"
               enableCountByExample="false"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="true">

            <property name="useActualColumnNames" value="false"/>

            &lt;!&ndash;<columnOverride column="login_name" property="account" javaType="String"/>&ndash;&gt;

        </table>-->

        <!--&lt;!&ndash; 角色表[sys_role 角色] &ndash;&gt;
        <table schema="gk_platform" tableName="sys_role" domainObjectName="Role"
               enableCountByExample="false"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="true">

            <property name="useActualColumnNames" value="false"/>

        </table>-->

        <!--&lt;!&ndash; 角色表[ref_user_role 用户角色] &ndash;&gt;
        <table schema="gk_platform" tableName="ref_user_role" domainObjectName="UserRole"
               enableCountByExample="false"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="true">

            <property name="useActualColumnNames" value="false"/>

        </table>-->

        <!--&lt;!&ndash; 菜单表[sys_menu 菜单] &ndash;&gt;
        <table schema="gk_platform" tableName="sys_menu" domainObjectName="Menu"
               enableCountByExample="false"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="true">

            <property name="useActualColumnNames" value="false"/>

        </table>-->

        <!-- &lt;!&ndash; 角色 -菜单表[sys_role_menu 角色 菜单] &ndash;&gt;
         <table schema="gk_platform" tableName="ref_role_menu" domainObjectName="RoleMenu"
                enableCountByExample="false"
                enableUpdateByExample="true"
                enableDeleteByExample="true"
                enableSelectByExample="true"
                selectByExampleQueryId="true">

             <property name="useActualColumnNames" value="false"/>
         </table>-->

        <!-- 机构表[org_school 学校] -->
      <!--  <table schema="gk_platform" tableName="org_school" domainObjectName="School"
               enableCountByExample="false"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="true">

            <property name="useActualColumnNames" value="false"/>

        </table>-->

        <!-- 部门表[org_department 部门] -->
        <!--<table schema="gk_platform" tableName="org_department" domainObjectName="Department"
               enableCountByExample="false"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="true">

            <property name="useActualColumnNames" value="false"/>

        </table>-->

        <!-- 部门表[org_grade_class 班级] -->
       <!-- <table schema="gk_platform" tableName="org_grade_class" domainObjectName="GradeClass"
               enableCountByExample="false"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="true">

            <property name="useActualColumnNames" value="false"/>

        </table>-->

      <!--  &lt;!&ndash; 学段、学制表[org_class_section] &ndash;&gt;
        <table schema="gk_platform" tableName="org_class_section" domainObjectName="ClassSection"
               enableCountByExample="false"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="true">

            <property name="useActualColumnNames" value="false"/>

        </table>
         -->
        <!-- 教师-班级[ref_teacher_class] &ndash;&gt;
        <table schema="gk_platform" tableName="ref_teacher_class" domainObjectName="TeacherClass"
               enableCountByExample="false"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="true">

            <property name="useActualColumnNames" value="false"/>

        </table>-->
        <!--&lt;!&ndash; 人事表[user_teacher 教师 &ndash;&gt;-->
      <!--  <table schema="gk_platform" tableName="user_teacher" domainObjectName="Teacher"
        enableCountByExample="false"
        enableUpdateByExample="true"
        enableDeleteByExample="true"
        enableSelectByExample="true"
        selectByExampleQueryId="true">

        <property name="useActualColumnNames" value="false"/>

        </table>-->

       <!-- &lt;!&ndash; 学生表[user_student 学生] -->
      <!--  <table schema="gk_platform" tableName="user_student" domainObjectName="Student"
               enableCountByExample="false"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="true">
           <property name="useActualColumnNames" value="false"/>
            </table>-->


        <!-- 学生表[user_patriarch 家长] -->
    <!--    <table schema="gk_platform" tableName="user_patriarch" domainObjectName="Patriarch"
               enableCountByExample="false"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="true">

            <property name="useActualColumnNames" value="false"/>

        </table>-->


        <!-- 应用表[sys_app 应用] -->
        <!--<table schema="gk_platform" tableName="sys_app" domainObjectName="App"-->
               <!--enableCountByExample="false"-->
               <!--enableUpdateByExample="true"-->
               <!--enableDeleteByExample="true"-->
               <!--enableSelectByExample="true"-->
               <!--selectByExampleQueryId="true">-->

            <!--<property name="useActualColumnNames" value="false"/>-->

        <!--</table>-->

        <!--&lt;!&ndash; 角色应用表[ref_role_app 角色应用] &ndash;&gt;
        <table schema="gk_platform" tableName="ref_app_role" domainObjectName="AppRole"
               enableCountByExample="false"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="true">

            <property name="useActualColumnNames" value="false"/>

        </table>
-->
       <!-- &lt;!&ndash; 机构应用表[ref_school_app 机构应用] &ndash;&gt;
        <table schema="gk_platform" tableName="ref_school_app" domainObjectName="SchoolApp"
               enableCountByExample="false"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="true">

            <property name="useActualColumnNames" value="false"/>

        </table>-->

       <!-- &lt;!&ndash; 通知[oa_notify 通知] &ndash;&gt;
        <table schema="gk_platform" tableName="oa_notify" domainObjectName="Notify"
               enableCountByExample="false"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="true">

            <property name="useActualColumnNames" value="false"/>

        </table>-->

        <!--&lt;!&ndash; 通知记录[oa_notify 通知记录] &ndash;&gt;
        <table schema="gk_platform" tableName="oa_notify_record" domainObjectName="NotifyRecord"
               enableCountByExample="false"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="true">

            <property name="useActualColumnNames" value="false"/>

        </table>-->

        <!--&lt;!&ndash; 通知栏目[oa_notify_column 通知公告栏目] &ndash;&gt;
        <table schema="gk_platform" tableName="oa_notify_column" domainObjectName="NotifyColumn"
               enableCountByExample="false"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="true">

            <property name="useActualColumnNames" value="false"/>

        </table>-->

        <!--&lt;!&ndash; 机构职务表[org_school 职务表 &ndash;&gt;
        <table schema="gk_platform" tableName="org_title" domainObjectName="Title"
               enableCountByExample="false"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="true">

            <property name="useActualColumnNames" value="false"/>

        </table>-->

      <!--  &lt;!&ndash; 机构分部表[org_school_type 学校] &ndash;&gt;
        <table schema="gk_platform" tableName="org_school_type" domainObjectName="SchoolType"
            enableCountByExample="false"
            enableUpdateByExample="true"
            enableDeleteByExample="true"
            enableSelectByExample="true"
            selectByExampleQueryId="true">

            <property name="useActualColumnNames" value="false"/>

        </table>-->

        <!--&lt;!&ndash; 我的应用[ref_my_app ] &ndash;&gt;
        <table schema="gk_platform" tableName="oauth2_client" domainObjectName="Client"
            enableCountByExample="false"
            enableUpdateByExample="true"
            enableDeleteByExample="true"
            enableSelectByExample="true"
            selectByExampleQueryId="true">

            <property name="useActualColumnNames" value="false"/>

        </table>-->


      <!--  &lt;!&ndash; 系统日志表[sys_log 日志] &ndash;&gt;
        <table schema="gk_platform" tableName="sys_log" domainObjectName="Log"
               enableCountByExample="false"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="true">

            <property name="useActualColumnNames" value="false"/>

        </table>-->

    <!--     &lt;!&ndash;系统配置表[sys_config ]&ndash;&gt;
        <table schema="gk_platform" tableName="sys_config" domainObjectName="Config"
        enableCountByExample="false"
        enableUpdateByExample="true"
        enableDeleteByExample="true"
        enableSelectByExample="true"
        selectByExampleQueryId="true">

        <property name="useActualColumnNames" value="false"/>

        </table>-->

        <!-- 我的应用[my_app ] &ndash;&gt;
        <table schema="gk_platform" tableName="ref_my_app" domainObjectName="MyApp"
               enableCountByExample="false"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="true">
            <property name="useActualColumnNames" value="false"/>

        </table>-->

        <!--系统监控[sys_monitor]-->
        <!--<table schema="gk_platform" tableName="sys_monitor" domainObjectName="Monitor"-->
               <!--enableCountByExample="false"-->
               <!--enableUpdateByExample="true"-->
               <!--enableDeleteByExample="true"-->
               <!--enableSelectByExample="true"-->
               <!--selectByExampleQueryId="true">-->
            <!--<property name="useActualColumnNames" value="false"/>-->

        <!--</table>-->


        <!--教室[org_class_room]-->
       <!-- <table schema="gk_platform" tableName="org_class_room" domainObjectName="ClassRoom"
        enableCountByExample="false"
        enableUpdateByExample="true"
        enableDeleteByExample="true"
        enableSelectByExample="true"
        selectByExampleQueryId="true">
        <property name="useActualColumnNames" value="false"/>

        </table>-->
        <!--教务配置[teach_task_config]-->
        <!--<table schema="gk_platform" tableName="teach_task_config" domainObjectName="TeachConfig"
               enableCountByExample="false"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="true">
            <property name="useActualColumnNames" value="false"/>
        </table>-->

        <!--课程表[org_subject]-->
       <!-- <table schema="gk_platform" tableName="org_course" domainObjectName="Course"
               enableCountByExample="false"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="true">
            <property name="useActualColumnNames" value="false"/>

        </table>-->
<!--ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss教学教务相关ssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->
        <!--教室表[teach_class_room]-->

         <!--<table schema="gk_platform" tableName="teach_class_room" domainObjectName="ClassRoom"-->
                <!--enableCountByExample="false"-->
                <!--enableUpdateByExample="true"-->
                <!--enableDeleteByExample="true"-->
                <!--enableSelectByExample="true"-->
                <!--selectByExampleQueryId="true">-->
             <!--<property name="useActualColumnNames" value="false"/>-->

         <!--</table>-->
         <!--<table schema="gk_platform" tableName="teach_class_room" domainObjectName="ClassRoom"
                enableCountByExample="false"
                enableUpdateByExample="true"
                enableDeleteByExample="true"
                enableSelectByExample="true"
                selectByExampleQueryId="true">
             <property name="useActualColumnNames" value="false"/>

         </table>-->



        <!--课程表[teach_course]-->
         <!--<table schema="gk_platform" tableName="teach_course" domainObjectName="Course"-->
                <!--enableCountByExample="false"-->
                <!--enableUpdateByExample="true"-->
                <!--enableDeleteByExample="true"-->
                <!--enableSelectByExample="true"-->
                <!--selectByExampleQueryId="true">-->
             <!--<property name="useActualColumnNames" value="false"/>-->

         <!--</table>-->

        <!--课程类型表[teach_course_type]-->
         <!--<table schema="gk_platform" tableName="teach_course_type" domainObjectName="CourseType"-->
                <!--enableCountByExample="false"-->
                <!--enableUpdateByExample="true"-->
                <!--enableDeleteByExample="true"-->
                <!--enableSelectByExample="true"-->
                <!--selectByExampleQueryId="true">-->
             <!--<property name="useActualColumnNames" value="false"/>-->

         <!--</table>-->

        <!--教学周期表[teach_cycle]-->
         <!--<table schema="gk_platform" tableName="teach_cycle" domainObjectName="TeachCycle"-->
                <!--enableCountByExample="false"-->
                <!--enableUpdateByExample="true"-->
                <!--enableDeleteByExample="true"-->
                <!--enableSelectByExample="true"-->
                <!--selectByExampleQueryId="true">-->
             <!--<property name="useActualColumnNames" value="false"/>-->

         <!--</table>-->

        <!--课程班级,教师关联表[teach_ref_course_class]-->
         <!--<table schema="gk_platform" tableName="teach_ref_course_class" domainObjectName="CourseClass"-->
                <!--enableCountByExample="false"-->
                <!--enableUpdateByExample="true"-->
                <!--enableDeleteByExample="true"-->
                <!--enableSelectByExample="true"-->
                <!--selectByExampleQueryId="true">-->
             <!--<property name="useActualColumnNames" value="false"/>-->

         <!--</table>-->


        <!--教室类型表[teach_room_type]-->
         <!--<table schema="gk_platform" tableName="teach_ref_class_room" domainObjectName="RefClassRoom"
                enableCountByExample="false"
                enableUpdateByExample="true"
                enableDeleteByExample="true"
                enableSelectByExample="true"
                selectByExampleQueryId="true">
             <property name="useActualColumnNames" value="false"/>

         </table>-->

        <!--教室周期关联表[teach_ref_room_cycle]-->

        <!--<table schema="gk_platform" tableName="teach_ref_course_class" domainObjectName="CourseClass"-->
               <!--enableCountByExample="false"-->
               <!--enableUpdateByExample="true"-->
               <!--enableDeleteByExample="true"-->
               <!--enableSelectByExample="true"-->
               <!--selectByExampleQueryId="true">-->
            <!--<property name="useActualColumnNames" value="false"/>-->

        <!--</table>-->
        <table schema="gk_platform" tableName="teach_course" domainObjectName="Course"
               enableCountByExample="false"
               enableUpdateByExample="true"
               enableDeleteByExample="true"
               enableSelectByExample="true"
               selectByExampleQueryId="true">
            <property name="useActualColumnNames" value="false"/>

        </table>

    </context>
</generatorConfiguration>