<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.gukeer.syncdata.persistence.dao.A_RouteTeacherClassMapper" >
  <insert id="insertBatch"  parameterType="java.util.List"  >
    INSERT INTO route_teacher_class (id,teacher_id,class_id,sync_del_flag)
    VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id,jdbcType=VARCHAR},#{item.teacherId,jdbcType=VARCHAR},#{item.classId,jdbcType=VARCHAR},#{item.syncDelFlag,jdbcType=VARCHAR})
    </foreach>

  </insert>
</mapper>