<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.gukeer.support.layout.persistence.dao.HeadbarMapper" >
  <resultMap id="BaseResultMap" type="cc.gukeer.support.layout.persistence.entity.Headbar" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="css" property="css" jdbcType="VARCHAR" />
    <result column="html" property="html" jdbcType="VARCHAR" />
    <result column="js" property="js" jdbcType="VARCHAR" />
    <result column="is_login" property="isLogin" jdbcType="INTEGER" />
    <result column="app_name" property="appName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, css, html, js, is_login, app_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cc.gukeer.support.layout.persistence.entity.HeadbarExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from layout_headbar
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from layout_headbar
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from layout_headbar
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cc.gukeer.support.layout.persistence.entity.HeadbarExample" >
    delete from layout_headbar
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cc.gukeer.support.layout.persistence.entity.Headbar" >
    insert into layout_headbar (id, css, html, 
      js, is_login, app_name
      )
    values (#{id,jdbcType=INTEGER}, #{css,jdbcType=VARCHAR}, #{html,jdbcType=VARCHAR}, 
      #{js,jdbcType=VARCHAR}, #{isLogin,jdbcType=INTEGER}, #{appName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cc.gukeer.support.layout.persistence.entity.Headbar" >
    insert into layout_headbar
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="css != null" >
        css,
      </if>
      <if test="html != null" >
        html,
      </if>
      <if test="js != null" >
        js,
      </if>
      <if test="isLogin != null" >
        is_login,
      </if>
      <if test="appName != null" >
        app_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="css != null" >
        #{css,jdbcType=VARCHAR},
      </if>
      <if test="html != null" >
        #{html,jdbcType=VARCHAR},
      </if>
      <if test="js != null" >
        #{js,jdbcType=VARCHAR},
      </if>
      <if test="isLogin != null" >
        #{isLogin,jdbcType=INTEGER},
      </if>
      <if test="appName != null" >
        #{appName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update layout_headbar
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.css != null" >
        css = #{record.css,jdbcType=VARCHAR},
      </if>
      <if test="record.html != null" >
        html = #{record.html,jdbcType=VARCHAR},
      </if>
      <if test="record.js != null" >
        js = #{record.js,jdbcType=VARCHAR},
      </if>
      <if test="record.isLogin != null" >
        is_login = #{record.isLogin,jdbcType=INTEGER},
      </if>
      <if test="record.appName != null" >
        app_name = #{record.appName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update layout_headbar
    set id = #{record.id,jdbcType=INTEGER},
      css = #{record.css,jdbcType=VARCHAR},
      html = #{record.html,jdbcType=VARCHAR},
      js = #{record.js,jdbcType=VARCHAR},
      is_login = #{record.isLogin,jdbcType=INTEGER},
      app_name = #{record.appName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cc.gukeer.support.layout.persistence.entity.Headbar" >
    update layout_headbar
    <set >
      <if test="css != null" >
        css = #{css,jdbcType=VARCHAR},
      </if>
      <if test="html != null" >
        html = #{html,jdbcType=VARCHAR},
      </if>
      <if test="js != null" >
        js = #{js,jdbcType=VARCHAR},
      </if>
      <if test="isLogin != null" >
        is_login = #{isLogin,jdbcType=INTEGER},
      </if>
      <if test="appName != null" >
        app_name = #{appName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cc.gukeer.support.layout.persistence.entity.Headbar" >
    update layout_headbar
    set css = #{css,jdbcType=VARCHAR},
      html = #{html,jdbcType=VARCHAR},
      js = #{js,jdbcType=VARCHAR},
      is_login = #{isLogin,jdbcType=INTEGER},
      app_name = #{appName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>