<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gukeer.platform.persistence.dao.A_ClassCardNotifyMapper">

    <select id="findAllNotifyView" resultType="cn.gukeer.platform.modelView.ClassCardNotifyView">

                SELECT
                    tn.id,
                    tn.title,
                    tn.create_date createDate,
                    su.name creatorName
                FROM
                    teach_class_card_notify tn,
                    sys_user su
                WHERE
                    tn.create_by = su.id
                    and tn.del_flag=0
                    <if test="type!=-1 and type!=null">
                        and tn.type=#{type}
                    </if>
                    <if test='title!="" and title !=null'>
                        and tn.title like   CONCAT('%',#{title},'%')
                    </if>

        order by tn.create_date desc
    </select>


</mapper>