<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gukeer.platform.persistence.dao.A_DailyHoureMapper">
    <resultMap id="BaseResultMap" type="cn.gukeer.platform.modelView.DailyHourView">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="school_id" property="schoolId" jdbcType="VARCHAR" />
        <result column="grade_class_id" property="gradeClassId" jdbcType="VARCHAR"/>
        <result column="cycle_id" property="cycleId" jdbcType="VARCHAR"/>
        <result column="skts" property="skts" jdbcType="INTEGER"/>
        <result column="swks" property="swks" jdbcType="INTEGER"/>
        <result column="xwks" property="xwks" jdbcType="INTEGER"/>
        <result column="kjc" property="kjc" jdbcType="INTEGER"/>
        <result column="xn" property="xn" jdbcType="VARCHAR"/>
        <result column="xq" property="xq" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="update_time" property="updateTime" jdbcType="BIGINT"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="del_flag" property="delFlag" jdbcType="INTEGER"/>
        <result column="className" property="className" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="batchInsertDailyHour">
        INSERT INTO `teach_daily_hour`
        (`id`,
        `school_id`,
        `skts`,
        `swks`,
        `xwks`,
        `kjc`,
        `cycle_id`,
        `xn`,
        `xq`,
        `grade_class_id`,
        `create_time`,
        `update_time`,
        `update_by`,
        `del_flag`
        )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id},#{item.schoolId},#{item.skts},#{item.swks},#{item.xwks},#{item.kjc},#{item.cycleId},#{item.xn},#{item.xq},#{item.gradeClassId},#{item.createTime},#{item.updateTime},#{item.updateBy},#{item.delFlag}
            )
        </foreach>
    </insert>


    <select id="findDailyHourByXdAndCycleIdAndNj" resultMap="BaseResultMap">
        SELECT th.*,c.`name` AS className
        FROM `teach_daily_hour` th LEFT JOIN org_grade_class c ON c.`id`=th.`grade_class_id`
        LEFT JOIN org_class_section  s ON s.`id`=c.xd
        WHERE th.`cycle_id`=#{cycleId} AND th.school_id=#{schoolId} AND c.nj=#{nj} AND s.`id`= #{xdId}

    </select>
</mapper>
