<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gukeer.platform.persistence.dao.A_GradeClassMapper">

    <resultMap id="BaseResultMap" type="cn.gukeer.platform.persistence.entity.GradeClass"
               extends="cn.gukeer.platform.persistence.dao.GradeClassMapper.BaseResultMap">
    </resultMap>
    <resultMap id="GradeClassExtention" type="cn.gukeer.platform.persistence.entity.extention.GradeClassExtention">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="school_id" property="schoolId" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="short_name" property="shortName" jdbcType="VARCHAR" />
        <result column="xd" property="xd" jdbcType="VARCHAR" />
        <result column="nj" property="nj" jdbcType="INTEGER" />
        <result column="bh" property="bh" jdbcType="INTEGER" />
        <result column="bjlx" property="bjlx" jdbcType="INTEGER" />
        <result column="xq" property="xq" jdbcType="VARCHAR" />
        <result column="cycle_id" property="cycleId" jdbcType="VARCHAR" />
        <result column="rxnd" property="rxnd" jdbcType="BIGINT" />
        <result column="master_id" property="masterId" jdbcType="INTEGER" />
        <result column="master_name" property="masterName" jdbcType="VARCHAR" />
        <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
        <result column="remarks" property="remarks" jdbcType="VARCHAR" />
        <result column="create_by" property="createBy" jdbcType="VARCHAR" />
        <result column="create_date" property="createDate" jdbcType="BIGINT" />
        <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
        <result column="update_date" property="updateDate" jdbcType="BIGINT" />
        <result column="csName"    property="xdName" jdbcType="VARCHAR" />
    </resultMap>
    <!--根据用户拥有的classId集合查询拥有的年级，班级信息-->
    <select id="findGradeClassBySectionIdAndNj" resultMap="BaseResultMap" parameterType="java.util.List">
        SELECT * FROM
        org_grade_class class
        WHERE class.xd IN
        <foreach collection="list" item="a_courseClassHour" index="index"  open="(" separator="," close=")">
            (
            #{a_courseClassHour.sectionId}
            )
        </foreach>

    </select>

    <select id="findAllGradeClassBySchoolId" resultMap="GradeClassExtention">
       SELECT c.*,cs.name AS csName
        FROM
        org_grade_class c LEFT JOIN org_class_section cs ON c.xd=cs.`id`
        WHERE  c.`school_id`=#{schoolId}

    </select>

    <select id="findByClassId" resultType="cn.gukeer.platform.persistence.entity.extention.GradeClassExtention">
      SELECT
            ocs.name xdName, ogc.nj, ogc.name,ogc.xd,ogc.id
        FROM
            org_grade_class ogc,
            org_class_section ocs
        WHERE
            ogc.xd = ocs.id AND ogc.id = #{classId}
    </select>
</mapper>
