<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gukeer.platform.persistence.dao.A_RefRoomCycleMapper">

    <insert id="batchInsertRefRoomCycle">
        INSERT INTO `teach_ref_room_cycle`
        (`id`,
        `room_id`,
        `cycle_id`
        )
        values
        <foreach collection="refRoomCycleList" item="item" index="index" separator=",">
            (
            #{item.id},#{item.roomId},#{item.cycleId}
            )
        </foreach>
    </insert>

</mapper>
