<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gukeer.platform.persistence.dao.CourseNodeInitMapper" >
  <resultMap id="BaseResultMap" type="cn.gukeer.platform.persistence.entity.CourseNodeInit" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="school_id" property="schoolId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="cycle_id" property="cycleId" jdbcType="VARCHAR" />
    <result column="cycle_year" property="cycleYear" jdbcType="VARCHAR" />
    <result column="cycle_semester" property="cycleSemester" jdbcType="INTEGER" />
    <result column="start_week" property="startWeek" jdbcType="INTEGER" />
    <result column="end_week" property="endWeek" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="del_flag" property="delFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, school_id, name, cycle_id, cycle_year, cycle_semester, start_week, end_week, 
    create_time, update_by, del_flag
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.gukeer.platform.persistence.entity.CourseNodeInitExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from teach_course_node_init
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from teach_course_node_init
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from teach_course_node_init
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.gukeer.platform.persistence.entity.CourseNodeInitExample" >
    delete from teach_course_node_init
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.gukeer.platform.persistence.entity.CourseNodeInit" >
    insert into teach_course_node_init (id, school_id, name, 
      cycle_id, cycle_year, cycle_semester, 
      start_week, end_week, create_time, 
      update_by, del_flag)
    values (#{id,jdbcType=VARCHAR}, #{schoolId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{cycleId,jdbcType=VARCHAR}, #{cycleYear,jdbcType=VARCHAR}, #{cycleSemester,jdbcType=INTEGER}, 
      #{startWeek,jdbcType=INTEGER}, #{endWeek,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT}, 
      #{updateBy,jdbcType=VARCHAR}, #{delFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.gukeer.platform.persistence.entity.CourseNodeInit" >
    insert into teach_course_node_init
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="schoolId != null" >
        school_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="cycleId != null" >
        cycle_id,
      </if>
      <if test="cycleYear != null" >
        cycle_year,
      </if>
      <if test="cycleSemester != null" >
        cycle_semester,
      </if>
      <if test="startWeek != null" >
        start_week,
      </if>
      <if test="endWeek != null" >
        end_week,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="cycleId != null" >
        #{cycleId,jdbcType=VARCHAR},
      </if>
      <if test="cycleYear != null" >
        #{cycleYear,jdbcType=VARCHAR},
      </if>
      <if test="cycleSemester != null" >
        #{cycleSemester,jdbcType=INTEGER},
      </if>
      <if test="startWeek != null" >
        #{startWeek,jdbcType=INTEGER},
      </if>
      <if test="endWeek != null" >
        #{endWeek,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update teach_course_node_init
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolId != null" >
        school_id = #{record.schoolId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.cycleId != null" >
        cycle_id = #{record.cycleId,jdbcType=VARCHAR},
      </if>
      <if test="record.cycleYear != null" >
        cycle_year = #{record.cycleYear,jdbcType=VARCHAR},
      </if>
      <if test="record.cycleSemester != null" >
        cycle_semester = #{record.cycleSemester,jdbcType=INTEGER},
      </if>
      <if test="record.startWeek != null" >
        start_week = #{record.startWeek,jdbcType=INTEGER},
      </if>
      <if test="record.endWeek != null" >
        end_week = #{record.endWeek,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null" >
        del_flag = #{record.delFlag,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update teach_course_node_init
    set id = #{record.id,jdbcType=VARCHAR},
      school_id = #{record.schoolId,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      cycle_id = #{record.cycleId,jdbcType=VARCHAR},
      cycle_year = #{record.cycleYear,jdbcType=VARCHAR},
      cycle_semester = #{record.cycleSemester,jdbcType=INTEGER},
      start_week = #{record.startWeek,jdbcType=INTEGER},
      end_week = #{record.endWeek,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=BIGINT},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.gukeer.platform.persistence.entity.CourseNodeInit" >
    update teach_course_node_init
    <set >
      <if test="schoolId != null" >
        school_id = #{schoolId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="cycleId != null" >
        cycle_id = #{cycleId,jdbcType=VARCHAR},
      </if>
      <if test="cycleYear != null" >
        cycle_year = #{cycleYear,jdbcType=VARCHAR},
      </if>
      <if test="cycleSemester != null" >
        cycle_semester = #{cycleSemester,jdbcType=INTEGER},
      </if>
      <if test="startWeek != null" >
        start_week = #{startWeek,jdbcType=INTEGER},
      </if>
      <if test="endWeek != null" >
        end_week = #{endWeek,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.gukeer.platform.persistence.entity.CourseNodeInit" >
    update teach_course_node_init
    set school_id = #{schoolId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      cycle_id = #{cycleId,jdbcType=VARCHAR},
      cycle_year = #{cycleYear,jdbcType=VARCHAR},
      cycle_semester = #{cycleSemester,jdbcType=INTEGER},
      start_week = #{startWeek,jdbcType=INTEGER},
      end_week = #{endWeek,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>