<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.gukeer.platform.persistence.dao.RefClassRoomMapper" >
  <resultMap id="BaseResultMap" type="cn.gukeer.platform.persistence.entity.RefClassRoom" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="room_id" property="roomId" jdbcType="VARCHAR" />
    <result column="grade_class" property="gradeClass" jdbcType="VARCHAR" />
    <result column="cycle_id" property="cycleId" jdbcType="VARCHAR" />
    <result column="school_type_id" property="schoolTypeId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, room_id, grade_class, cycle_id, school_type_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.gukeer.platform.persistence.entity.RefClassRoomExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from teach_ref_class_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from teach_ref_class_room
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from teach_ref_class_room
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.gukeer.platform.persistence.entity.RefClassRoomExample" >
    delete from teach_ref_class_room
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.gukeer.platform.persistence.entity.RefClassRoom" >
    insert into teach_ref_class_room (id, room_id, grade_class, 
      cycle_id, school_type_id)
    values (#{id,jdbcType=VARCHAR}, #{roomId,jdbcType=VARCHAR}, #{gradeClass,jdbcType=VARCHAR}, 
      #{cycleId,jdbcType=VARCHAR}, #{schoolTypeId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.gukeer.platform.persistence.entity.RefClassRoom" >
    insert into teach_ref_class_room
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roomId != null" >
        room_id,
      </if>
      <if test="gradeClass != null" >
        grade_class,
      </if>
      <if test="cycleId != null" >
        cycle_id,
      </if>
      <if test="schoolTypeId != null" >
        school_type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="roomId != null" >
        #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="gradeClass != null" >
        #{gradeClass,jdbcType=VARCHAR},
      </if>
      <if test="cycleId != null" >
        #{cycleId,jdbcType=VARCHAR},
      </if>
      <if test="schoolTypeId != null" >
        #{schoolTypeId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update teach_ref_class_room
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.roomId != null" >
        room_id = #{record.roomId,jdbcType=VARCHAR},
      </if>
      <if test="record.gradeClass != null" >
        grade_class = #{record.gradeClass,jdbcType=VARCHAR},
      </if>
      <if test="record.cycleId != null" >
        cycle_id = #{record.cycleId,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolTypeId != null" >
        school_type_id = #{record.schoolTypeId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update teach_ref_class_room
    set id = #{record.id,jdbcType=VARCHAR},
      room_id = #{record.roomId,jdbcType=VARCHAR},
      grade_class = #{record.gradeClass,jdbcType=VARCHAR},
      cycle_id = #{record.cycleId,jdbcType=VARCHAR},
      school_type_id = #{record.schoolTypeId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.gukeer.platform.persistence.entity.RefClassRoom" >
    update teach_ref_class_room
    <set >
      <if test="roomId != null" >
        room_id = #{roomId,jdbcType=VARCHAR},
      </if>
      <if test="gradeClass != null" >
        grade_class = #{gradeClass,jdbcType=VARCHAR},
      </if>
      <if test="cycleId != null" >
        cycle_id = #{cycleId,jdbcType=VARCHAR},
      </if>
      <if test="schoolTypeId != null" >
        school_type_id = #{schoolTypeId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.gukeer.platform.persistence.entity.RefClassRoom" >
    update teach_ref_class_room
    set room_id = #{roomId,jdbcType=VARCHAR},
      grade_class = #{gradeClass,jdbcType=VARCHAR},
      cycle_id = #{cycleId,jdbcType=VARCHAR},
      school_type_id = #{schoolTypeId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>