<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.gukeer.smartBoard.persistence.dao.A_RoleExtensionMapper" >

    <resultMap id="ExtensionBaseResultMap" type="cc.gukeer.smartBoard.modelView.RoleView"
               extends="cc.gukeer.smartBoard.persistence.dao.RoleMapper.BaseResultMap" >
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectRoleViewByUserId" resultMap="ExtensionBaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="cc.gukeer.smartBoard.persistence.dao.RoleMapper.Base_Column_List" />, user_id
        from ref_user_role ref, sys_role role
        WHERE ref.user_id=#{userId} AND ref.role_id = role.id
    </select>

</mapper>
