*{margin: 0;padding: 0;}
li{list-style-type: none;}
a,input{outline: none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
canvas{width: 100%;border: 1px solid #000000;}
.uploadBtn-a{display: block;width:150px;margin: 10px;height: 30px;text-align: center;line-height: 30px;border: 1px solid;border-radius: 5px;cursor: pointer;}
.touch{background-color: #ddd;}
.img-list-icon{margin: 10px 5px;}
.img-list-icon li{position: relative;display: inline-block;width: 100px;height: 100px;margin: 5px 5px 20px 5px;border: 1px solid #DDDDDD;background: #fff no-repeat center;background-size: cover;}
.img-list{margin: 10px 5px;}
.img-list li{position: relative;display: inline-block;width: 100px;height: 100px;margin: 5px 5px 20px 5px;border: 1px solid #ddd;background: #fff no-repeat center;background-size: cover;}
.progress{position: absolute;width: 100%;height: 20px;line-height: 20px;left: 0;background-color:rgba(100,149,198,.5);}
.progress span{display: block;width: 0;height: 100%;background-color:rgb(100,149,198);text-align: center;color: #FFF;font-size: 13px;}
.size{position: absolute;width: 100%;height: 15px;line-height: 15px;bottom: -18px;text-align: center;font-size: 13px;color: #666;}
.tips{display: block;text-align:center;font-size: 13px;margin: 10px;color: #999;}
.pic-list{margin: 10px;line-height: 18px;font-size: 13px;}
.pic-list a{display: block;margin: 10px 0;}
.pic-list a img{vertical-align: middle;max-width: 30px;max-height: 30px;margin: -4px 0 0 10px;}
.pic-list-icon{margin: 10px;line-height: 18px;font-size: 13px;}
.pic-list-icon a{display: block;margin: 10px 0;}
.pic-list-icon a img{vertical-align: middle;max-width: 30px;max-height: 30px;margin: -4px 0 0 10px;}
.removeBtn{display: block;width: 15px;height: 15px;line-height: 15px;border-radius: 50%;background: red;text-align: center;position: absolute;right: -5px;top:-5px;z-index: 999;cursor: pointer;color: white;font-size: 12px;}