<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.gukeer.sync.persistence.dao.SyncBaseMapper" >
    <select id="getTableNames" resultType="java.lang.String">
        SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = #{schema,jdbcType=VARCHAR} AND TABLE_NAME LIKE #{tableNamePrefix,jdbcType=VARCHAR}
    </select>

    <select id="getDatas" resultType="java.util.Map" parameterType="String">
        SELECT * FROM ${param1} WHERE sync_del_flag NOT like #{1}
    </select>

    <update id="identityDeletion" parameterType="String">
        UPDATE  ${param1}
        set sync_del_flag=concat(#{1},sync_del_flag)
        WHERE id IN
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        AND sync_del_flag NOT LIKE #{3}
    </update>
</mapper>
