<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.CourseDao">
    <resultMap id="BaseResultMap" type="entity.Course">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="cid" jdbcType="INTEGER" property="cid" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="time" jdbcType="INTEGER" property="time" />
        <result column="aaaa" jdbcType="BIGINT" property="aaaa" />
        <result column="ddddd" jdbcType="BIGINT" property="ddddd" />
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, cid, name, time, aaaa, ddddd
    </sql>
    <select id="selectByExample" parameterType="entity.CourseExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List" />
        from t_course
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select 
        <include refid="Base_Column_List" />
        from t_course
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_course
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="entity.CourseExample">
        delete from t_course
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="entity.Course">
        insert into t_course (id, cid, name, 
            time, aaaa, ddddd)
        values (#{id,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
            #{time,jdbcType=INTEGER}, #{aaaa,jdbcType=BIGINT}, #{ddddd,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" parameterType="entity.Course">
        insert into t_course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="cid != null">
                cid,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="time != null">
                time,
            </if>
            <if test="aaaa != null">
                aaaa,
            </if>
            <if test="ddddd != null">
                ddddd,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="cid != null">
                #{cid,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                #{time,jdbcType=INTEGER},
            </if>
            <if test="aaaa != null">
                #{aaaa,jdbcType=BIGINT},
            </if>
            <if test="ddddd != null">
                #{ddddd,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <update id="updateByExampleSelective" parameterType="map">
        update t_course
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.cid != null">
                cid = #{record.cid,jdbcType=INTEGER},
            </if>
            <if test="record.name != null">
                name = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.time != null">
                time = #{record.time,jdbcType=INTEGER},
            </if>
            <if test="record.aaaa != null">
                aaaa = #{record.aaaa,jdbcType=BIGINT},
            </if>
            <if test="record.ddddd != null">
                ddddd = #{record.ddddd,jdbcType=BIGINT},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_course
        set id = #{record.id,jdbcType=INTEGER},
            cid = #{record.cid,jdbcType=INTEGER},
            name = #{record.name,jdbcType=VARCHAR},
            time = #{record.time,jdbcType=INTEGER},
            aaaa = #{record.aaaa,jdbcType=BIGINT},
            ddddd = #{record.ddddd,jdbcType=BIGINT}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="entity.Course">
        update t_course
        <set>
            <if test="cid != null">
                cid = #{cid,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="time != null">
                time = #{time,jdbcType=INTEGER},
            </if>
            <if test="aaaa != null">
                aaaa = #{aaaa,jdbcType=BIGINT},
            </if>
            <if test="ddddd != null">
                ddddd = #{ddddd,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="entity.Course">
        update t_course
        set cid = #{cid,jdbcType=INTEGER},
            name = #{name,jdbcType=VARCHAR},
            time = #{time,jdbcType=INTEGER},
            aaaa = #{aaaa,jdbcType=BIGINT},
            ddddd = #{ddddd,jdbcType=BIGINT}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>