<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.gukeer.datahub.persistence.dao.A_AppExtentionMapper">
    <resultMap id="BaseResultMap" type="cc.gukeer.datahub.modeView.AppBaseInfoView">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="category" property="category" jdbcType="INTEGER"/>
        <result column="company_name" property="pCompany" jdbcType="VARCHAR"/>
        <result column="business_name" property="cCompany" jdbcType="VARCHAR"/>
        <result column="contacts_phone" property="pPhone" jdbcType="VARCHAR"/>
        <result column="developer_phone" property="cPhone" jdbcType="VARCHAR"/>
        <result column="pname" property="pManage" jdbcType="VARCHAR"/>
        <result column="developer_name" property="cManage" jdbcType="VARCHAR"/>
        <result column="uId" property="uId" jdbcType="VARCHAR"/>
        <result column="user_type" property="userType" jdbcType="INTEGER"/>
        <result column="create_date" property="createDate" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="check_status" property="checkStatus" jdbcType="INTEGER"/>
        <result column="del_flag" property="delFlag" jdbcType="INTEGER"/>
        <result column="opt_status" property="optStatus" jdbcType="INTEGER"/>
        <result column="app_status" property="appStatus" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
    a.id,a.name,a.check_status,a.category,a.create_date,u.id AS uId,u.user_type,u.status,u.create_date, c.business_name,p.company_name,
    c.developer_phone,p.contacts_phone,c.developer_name,p.name AS pname
</sql>

    <select id="findAppBaseInfo" resultMap="BaseResultMap" parameterType="INTEGER">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        open_app a LEFT JOIN open_user u ON a.user_id = u.id LEFT JOIN open_company c
        ON c.id = u.company_id LEFT JOIN open_personal p ON p.id = u.personal_id
        where u.user_type != 2 AND a.check_status != 0
        AND a.del_flag != 1
        <if test="_parameter == 1">
            AND a.check_status = 1 OR a.check_status = 5
        </if>
        <if test="_parameter == 2">
            AND a.check_status = 2
        </if>
        <if test="_parameter == 3">
            AND a.check_status = 3
        </if>
        <if test="_parameter == 4">
            AND a.check_status = 4
        </if>
        <if test="_parameter == 5">
            AND a.check_status = 5
        </if>
        <if test="_parameter == null">

        </if>
        ORDER BY a.create_date DESC
    </select>
</mapper>
