<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.gukeer.syncdata.persistence.dao.A_ChangeStateRefTeacherMapper">

  <insert id="insertBatch" parameterType="cc.gukeer.syncdata.persistence.entity.ChangeStateRefTeacher">
    insert into change_state_ref_teacher_class (id, sync_teacher_id, type,
    sync_class_id, event, update_date,
    source, sync_date, sync_del_flag
    )
    values
    <foreach collection="list" item="item" index="index" separator=",">
    (#{item.id,jdbcType=VARCHAR},#{item.syncTeacherId,jdbcType=VARCHAR}, #{item.type,jdbcType=INTEGER},
    #{item.syncClassId,jdbcType=VARCHAR}, #{item.event,jdbcType=VARCHAR}, #{item.updateDate,jdbcType=BIGINT},
    #{item.source,jdbcType=VARCHAR}, #{item.syncDate,jdbcType=BIGINT}, #{item.syncDelFlag,jdbcType=VARCHAR}
    )
    </foreach>
  </insert>
<!--不行-->
<!--  <delete id="deleteBatch" parameterType="java.lang.String" >
    delete from change_state_ref_teacher_class
    where id in
    <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
      #{item,jdbcType=VARCHAR}
    </foreach>
  </delete>-->
  <select id="checkById" resultType="Integer" parameterType="String" >
    select count(id) from change_state_ref_teacher_class where sync_teacher_id=#{0} AND source = #{1} AND sync_class_id=#{2}
  </select>

  <select id="checkBysyncId" resultType="String" parameterType="String" >
    SELECT id FROM change_state_ref_teacher_class
    GROUP BY sync_teacher_id,sync_class_id
    HAVING COUNT(id)>1
  </select>
  <select id="checkTeacherId" resultType="String" parameterType="String" >
    SELECT sync_teacher_id FROM change_state_ref_teacher_class
    GROUP BY sync_teacher_id,sync_class_id
    HAVING COUNT(id)>1
  </select>
  <select id="checkClassId" resultType="String" parameterType="String" >
    SELECT sync_class_id FROM change_state_ref_teacher_class
    GROUP BY sync_teacher_id,sync_class_id
    HAVING COUNT(id)>1
  </select>

  <delete id="deleteBatch" parameterType="java.lang.String" >
    DELETE FROM change_state_ref_teacher_class
    WHERE id not in
    <foreach collection="listId" item="item" index="index" separator="," open="(" close=")">
      #{item,jdbcType=VARCHAR}
    </foreach>
    AND sync_teacher_id in
    <foreach collection="listTeacherId" item="item2" index="index" separator="," open="(" close=")">
      #{item2,jdbcType=VARCHAR}
    </foreach>
    AND sync_class_id in
    <foreach collection="listClassId" item="item3" index="index" separator="," open="(" close=")">
      #{item3,jdbcType=VARCHAR}
    </foreach>
  </delete>
  <!--<select id="selectMinId" resultType="map" parameterType="java.lang.Long">
    SELECT id,MIN(sync_date) FROM change_state_ref_teacher_class
    where
    <if test="source != null">
      source = #{source,jdbcType=VARCHAR} and
    </if>

    <if test="syncDate != null">
      sync_date > #{syncDate,jdbcType=BIGINT}
    </if>
    GROUP BY teacher_id and class_id
    HAVING COUNT(1) > 1
  </select>-->
</mapper>