<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.gukeer.syncdata.persistence.dao.A_MarkTimeMapper" >

    <select id="selectUpdateDate"  parameterType="java.lang.String"  resultType="java.lang.Long">
        select
            mark_min_time
        from sync_mark_time
        where table_name = #{tableName,jdbcType=VARCHAR}
    </select>
    <select id="selectMarkTime"  parameterType="java.lang.String"  resultType="cc.gukeer.syncdata.persistence.entity.MarkTime">
        select
          id, table_name, mark_min_time, plat_identifier
        from sync_mark_time
        where table_name = #{tableName,jdbcType=VARCHAR}
    </select>

    <update id="updateById" parameterType="cc.gukeer.syncdata.persistence.entity.MarkTime" >
        update sync_mark_time
        <set >
                table_name = #{tableName,jdbcType=VARCHAR},
                mark_min_time = #{markMinTime,jdbcType=BIGINT},
                plat_identifier = #{platIdentifier,jdbcType=VARCHAR}
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>



</mapper>