<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.gukeer.syncdata.persistence.dao.A_RouteTeacherMapper" >
  <insert id="insertBatch"  parameterType="java.util.List"  >
    INSERT  INTO route_teacher (id,sync_id,sync_del_flag)
    VALUES
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id,jdbcType=VARCHAR},#{item.syncId,jdbcType=VARCHAR},#{item.syncDelFlag,jdbcType=VARCHAR})
    </foreach>
  </insert>

  <select id="selectId" resultType="String" parameterType="String">
    SELECT sync_id FROM route_teacher
    WHERE sync_del_flag = #{mark}
  </select>

</mapper>