<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.gukeer.syncdata.persistence.dao.ChangeStatePatriarchMapper" >
  <resultMap id="BaseResultMap" type="cc.gukeer.syncdata.persistence.entity.ChangeStatePatriarch" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="sync_id" property="syncId" jdbcType="VARCHAR" />
    <result column="school_id" property="schoolId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="student_id" property="studentId" jdbcType="VARCHAR" />
    <result column="work" property="work" jdbcType="VARCHAR" />
    <result column="work_at" property="workAt" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="sfjhr" property="sfjhr" jdbcType="INTEGER" />
    <result column="sfyqsh" property="sfyqsh" jdbcType="INTEGER" />
    <result column="patriarch_flag" property="patriarchFlag" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="BIGINT" />
    <result column="event" property="event" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="sync_del_flag" property="syncDelFlag" jdbcType="VARCHAR" />
    <result column="sync_date" property="syncDate" jdbcType="BIGINT" />
    <result column="account" property="account" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, sync_id, school_id, name, student_id, work, work_at, phone, gender, sfjhr, sfyqsh, 
    patriarch_flag, update_date, event, source, sync_del_flag, sync_date, account
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cc.gukeer.syncdata.persistence.entity.ChangeStatePatriarchExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from change_state_user_patriarch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from change_state_user_patriarch
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from change_state_user_patriarch
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cc.gukeer.syncdata.persistence.entity.ChangeStatePatriarchExample" >
    delete from change_state_user_patriarch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cc.gukeer.syncdata.persistence.entity.ChangeStatePatriarch" >
    insert into change_state_user_patriarch (id, sync_id, school_id, 
      name, student_id, work, 
      work_at, phone, gender, 
      sfjhr, sfyqsh, patriarch_flag, 
      update_date, event, source, 
      sync_del_flag, sync_date, account
      )
    values (#{id,jdbcType=VARCHAR}, #{syncId,jdbcType=VARCHAR}, #{schoolId,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{studentId,jdbcType=VARCHAR}, #{work,jdbcType=VARCHAR}, 
      #{workAt,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}, 
      #{sfjhr,jdbcType=INTEGER}, #{sfyqsh,jdbcType=INTEGER}, #{patriarchFlag,jdbcType=INTEGER}, 
      #{updateDate,jdbcType=BIGINT}, #{event,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, 
      #{syncDelFlag,jdbcType=VARCHAR}, #{syncDate,jdbcType=BIGINT}, #{account,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cc.gukeer.syncdata.persistence.entity.ChangeStatePatriarch" >
    insert into change_state_user_patriarch
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="syncId != null" >
        sync_id,
      </if>
      <if test="schoolId != null" >
        school_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="work != null" >
        work,
      </if>
      <if test="workAt != null" >
        work_at,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="sfjhr != null" >
        sfjhr,
      </if>
      <if test="sfyqsh != null" >
        sfyqsh,
      </if>
      <if test="patriarchFlag != null" >
        patriarch_flag,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="event != null" >
        event,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="syncDelFlag != null" >
        sync_del_flag,
      </if>
      <if test="syncDate != null" >
        sync_date,
      </if>
      <if test="account != null" >
        account,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="syncId != null" >
        #{syncId,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="work != null" >
        #{work,jdbcType=VARCHAR},
      </if>
      <if test="workAt != null" >
        #{workAt,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="sfjhr != null" >
        #{sfjhr,jdbcType=INTEGER},
      </if>
      <if test="sfyqsh != null" >
        #{sfyqsh,jdbcType=INTEGER},
      </if>
      <if test="patriarchFlag != null" >
        #{patriarchFlag,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=BIGINT},
      </if>
      <if test="event != null" >
        #{event,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="syncDelFlag != null" >
        #{syncDelFlag,jdbcType=VARCHAR},
      </if>
      <if test="syncDate != null" >
        #{syncDate,jdbcType=BIGINT},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cc.gukeer.syncdata.persistence.entity.ChangeStatePatriarchExample" resultType="java.lang.Integer" >
    select count(*) from change_state_user_patriarch
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update change_state_user_patriarch
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.syncId != null" >
        sync_id = #{record.syncId,jdbcType=VARCHAR},
      </if>
      <if test="record.schoolId != null" >
        school_id = #{record.schoolId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.studentId != null" >
        student_id = #{record.studentId,jdbcType=VARCHAR},
      </if>
      <if test="record.work != null" >
        work = #{record.work,jdbcType=VARCHAR},
      </if>
      <if test="record.workAt != null" >
        work_at = #{record.workAt,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null" >
        gender = #{record.gender,jdbcType=INTEGER},
      </if>
      <if test="record.sfjhr != null" >
        sfjhr = #{record.sfjhr,jdbcType=INTEGER},
      </if>
      <if test="record.sfyqsh != null" >
        sfyqsh = #{record.sfyqsh,jdbcType=INTEGER},
      </if>
      <if test="record.patriarchFlag != null" >
        patriarch_flag = #{record.patriarchFlag,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=BIGINT},
      </if>
      <if test="record.event != null" >
        event = #{record.event,jdbcType=VARCHAR},
      </if>
      <if test="record.source != null" >
        source = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.syncDelFlag != null" >
        sync_del_flag = #{record.syncDelFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.syncDate != null" >
        sync_date = #{record.syncDate,jdbcType=BIGINT},
      </if>
      <if test="record.account != null" >
        account = #{record.account,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update change_state_user_patriarch
    set id = #{record.id,jdbcType=VARCHAR},
      sync_id = #{record.syncId,jdbcType=VARCHAR},
      school_id = #{record.schoolId,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      student_id = #{record.studentId,jdbcType=VARCHAR},
      work = #{record.work,jdbcType=VARCHAR},
      work_at = #{record.workAt,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=INTEGER},
      sfjhr = #{record.sfjhr,jdbcType=INTEGER},
      sfyqsh = #{record.sfyqsh,jdbcType=INTEGER},
      patriarch_flag = #{record.patriarchFlag,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=BIGINT},
      event = #{record.event,jdbcType=VARCHAR},
      source = #{record.source,jdbcType=VARCHAR},
      sync_del_flag = #{record.syncDelFlag,jdbcType=VARCHAR},
      sync_date = #{record.syncDate,jdbcType=BIGINT},
      account = #{record.account,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cc.gukeer.syncdata.persistence.entity.ChangeStatePatriarch" >
    update change_state_user_patriarch
    <set >
      <if test="syncId != null" >
        sync_id = #{syncId,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null" >
        school_id = #{schoolId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="work != null" >
        work = #{work,jdbcType=VARCHAR},
      </if>
      <if test="workAt != null" >
        work_at = #{workAt,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="sfjhr != null" >
        sfjhr = #{sfjhr,jdbcType=INTEGER},
      </if>
      <if test="sfyqsh != null" >
        sfyqsh = #{sfyqsh,jdbcType=INTEGER},
      </if>
      <if test="patriarchFlag != null" >
        patriarch_flag = #{patriarchFlag,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=BIGINT},
      </if>
      <if test="event != null" >
        event = #{event,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="syncDelFlag != null" >
        sync_del_flag = #{syncDelFlag,jdbcType=VARCHAR},
      </if>
      <if test="syncDate != null" >
        sync_date = #{syncDate,jdbcType=BIGINT},
      </if>
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cc.gukeer.syncdata.persistence.entity.ChangeStatePatriarch" >
    update change_state_user_patriarch
    set sync_id = #{syncId,jdbcType=VARCHAR},
      school_id = #{schoolId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      student_id = #{studentId,jdbcType=VARCHAR},
      work = #{work,jdbcType=VARCHAR},
      work_at = #{workAt,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      sfjhr = #{sfjhr,jdbcType=INTEGER},
      sfyqsh = #{sfyqsh,jdbcType=INTEGER},
      patriarch_flag = #{patriarchFlag,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=BIGINT},
      event = #{event,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      sync_del_flag = #{syncDelFlag,jdbcType=VARCHAR},
      sync_date = #{syncDate,jdbcType=BIGINT},
      account = #{account,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>