<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.gukeer.syncdata.persistence.dao.ChangeStateCourseManageMapper" >
  <resultMap id="BaseResultMap" type="cc.gukeer.syncdata.persistence.entity.ChangeStateCourseManage" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="sync_id" property="syncId" jdbcType="VARCHAR" />
    <result column="course_id" property="courseId" jdbcType="VARCHAR" />
    <result column="xn" property="xn" jdbcType="VARCHAR" />
    <result column="xq" property="xq" jdbcType="INTEGER" />
    <result column="course_time" property="courseTime" jdbcType="INTEGER" />
    <result column="class_type" property="classType" jdbcType="VARCHAR" />
    <result column="period_id" property="periodId" jdbcType="VARCHAR" />
    <result column="class_id" property="classId" jdbcType="VARCHAR" />
    <result column="event" property="event" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="sync_date" property="syncDate" jdbcType="VARCHAR" />
    <result column="sync_del_flag" property="syncDelFlag" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, sync_id, course_id, xn, xq, course_time, class_type, period_id, class_id, event, 
    source, sync_date, sync_del_flag, update_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cc.gukeer.syncdata.persistence.entity.ChangeStateCourseManageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from change_state_teach_course_manage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from change_state_teach_course_manage
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from change_state_teach_course_manage
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cc.gukeer.syncdata.persistence.entity.ChangeStateCourseManageExample" >
    delete from change_state_teach_course_manage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cc.gukeer.syncdata.persistence.entity.ChangeStateCourseManage" >
    insert into change_state_teach_course_manage (id, sync_id, course_id, 
      xn, xq, course_time, 
      class_type, period_id, class_id, 
      event, source, sync_date, 
      sync_del_flag, update_date)
    values (#{id,jdbcType=VARCHAR}, #{syncId,jdbcType=VARCHAR}, #{courseId,jdbcType=VARCHAR}, 
      #{xn,jdbcType=VARCHAR}, #{xq,jdbcType=INTEGER}, #{courseTime,jdbcType=INTEGER}, 
      #{classType,jdbcType=VARCHAR}, #{periodId,jdbcType=VARCHAR}, #{classId,jdbcType=VARCHAR}, 
      #{event,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{syncDate,jdbcType=VARCHAR}, 
      #{syncDelFlag,jdbcType=VARCHAR}, #{updateDate,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="cc.gukeer.syncdata.persistence.entity.ChangeStateCourseManage" >
    insert into change_state_teach_course_manage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="syncId != null" >
        sync_id,
      </if>
      <if test="courseId != null" >
        course_id,
      </if>
      <if test="xn != null" >
        xn,
      </if>
      <if test="xq != null" >
        xq,
      </if>
      <if test="courseTime != null" >
        course_time,
      </if>
      <if test="classType != null" >
        class_type,
      </if>
      <if test="periodId != null" >
        period_id,
      </if>
      <if test="classId != null" >
        class_id,
      </if>
      <if test="event != null" >
        event,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="syncDate != null" >
        sync_date,
      </if>
      <if test="syncDelFlag != null" >
        sync_del_flag,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="syncId != null" >
        #{syncId,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null" >
        #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="xn != null" >
        #{xn,jdbcType=VARCHAR},
      </if>
      <if test="xq != null" >
        #{xq,jdbcType=INTEGER},
      </if>
      <if test="courseTime != null" >
        #{courseTime,jdbcType=INTEGER},
      </if>
      <if test="classType != null" >
        #{classType,jdbcType=VARCHAR},
      </if>
      <if test="periodId != null" >
        #{periodId,jdbcType=VARCHAR},
      </if>
      <if test="classId != null" >
        #{classId,jdbcType=VARCHAR},
      </if>
      <if test="event != null" >
        #{event,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="syncDate != null" >
        #{syncDate,jdbcType=VARCHAR},
      </if>
      <if test="syncDelFlag != null" >
        #{syncDelFlag,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cc.gukeer.syncdata.persistence.entity.ChangeStateCourseManageExample" resultType="java.lang.Integer" >
    select count(*) from change_state_teach_course_manage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update change_state_teach_course_manage
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.syncId != null" >
        sync_id = #{record.syncId,jdbcType=VARCHAR},
      </if>
      <if test="record.courseId != null" >
        course_id = #{record.courseId,jdbcType=VARCHAR},
      </if>
      <if test="record.xn != null" >
        xn = #{record.xn,jdbcType=VARCHAR},
      </if>
      <if test="record.xq != null" >
        xq = #{record.xq,jdbcType=INTEGER},
      </if>
      <if test="record.courseTime != null" >
        course_time = #{record.courseTime,jdbcType=INTEGER},
      </if>
      <if test="record.classType != null" >
        class_type = #{record.classType,jdbcType=VARCHAR},
      </if>
      <if test="record.periodId != null" >
        period_id = #{record.periodId,jdbcType=VARCHAR},
      </if>
      <if test="record.classId != null" >
        class_id = #{record.classId,jdbcType=VARCHAR},
      </if>
      <if test="record.event != null" >
        event = #{record.event,jdbcType=VARCHAR},
      </if>
      <if test="record.source != null" >
        source = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.syncDate != null" >
        sync_date = #{record.syncDate,jdbcType=VARCHAR},
      </if>
      <if test="record.syncDelFlag != null" >
        sync_del_flag = #{record.syncDelFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update change_state_teach_course_manage
    set id = #{record.id,jdbcType=VARCHAR},
      sync_id = #{record.syncId,jdbcType=VARCHAR},
      course_id = #{record.courseId,jdbcType=VARCHAR},
      xn = #{record.xn,jdbcType=VARCHAR},
      xq = #{record.xq,jdbcType=INTEGER},
      course_time = #{record.courseTime,jdbcType=INTEGER},
      class_type = #{record.classType,jdbcType=VARCHAR},
      period_id = #{record.periodId,jdbcType=VARCHAR},
      class_id = #{record.classId,jdbcType=VARCHAR},
      event = #{record.event,jdbcType=VARCHAR},
      source = #{record.source,jdbcType=VARCHAR},
      sync_date = #{record.syncDate,jdbcType=VARCHAR},
      sync_del_flag = #{record.syncDelFlag,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cc.gukeer.syncdata.persistence.entity.ChangeStateCourseManage" >
    update change_state_teach_course_manage
    <set >
      <if test="syncId != null" >
        sync_id = #{syncId,jdbcType=VARCHAR},
      </if>
      <if test="courseId != null" >
        course_id = #{courseId,jdbcType=VARCHAR},
      </if>
      <if test="xn != null" >
        xn = #{xn,jdbcType=VARCHAR},
      </if>
      <if test="xq != null" >
        xq = #{xq,jdbcType=INTEGER},
      </if>
      <if test="courseTime != null" >
        course_time = #{courseTime,jdbcType=INTEGER},
      </if>
      <if test="classType != null" >
        class_type = #{classType,jdbcType=VARCHAR},
      </if>
      <if test="periodId != null" >
        period_id = #{periodId,jdbcType=VARCHAR},
      </if>
      <if test="classId != null" >
        class_id = #{classId,jdbcType=VARCHAR},
      </if>
      <if test="event != null" >
        event = #{event,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="syncDate != null" >
        sync_date = #{syncDate,jdbcType=VARCHAR},
      </if>
      <if test="syncDelFlag != null" >
        sync_del_flag = #{syncDelFlag,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cc.gukeer.syncdata.persistence.entity.ChangeStateCourseManage" >
    update change_state_teach_course_manage
    set sync_id = #{syncId,jdbcType=VARCHAR},
      course_id = #{courseId,jdbcType=VARCHAR},
      xn = #{xn,jdbcType=VARCHAR},
      xq = #{xq,jdbcType=INTEGER},
      course_time = #{courseTime,jdbcType=INTEGER},
      class_type = #{classType,jdbcType=VARCHAR},
      period_id = #{periodId,jdbcType=VARCHAR},
      class_id = #{classId,jdbcType=VARCHAR},
      event = #{event,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      sync_date = #{syncDate,jdbcType=VARCHAR},
      sync_del_flag = #{syncDelFlag,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>